/*================================
=            Variable            =
================================*/

$primary  : #4EAC00;
$secondary: #2D7639;
$third    : #FDF3CD;
$fourth   : #fff;
$five     : #000;
$six      : #DBCD9A;
$bgColor  : #fafbff;
$bgShadow  : #999ba8;

$border_thin: 0.07rem;
$border_normal: 0.15rem;
$border_bold: 0.3rem;
$border_heavy: 0.6rem;

$error  : #e69600; //#E6002F
$success: $six; //#3CB371

$black      : #003946;
$dark-gray  : #4F7780;
$middle-gray: #6996A0;
$light-gray : #A3BCC2;

$action-color: $secondary;

@mixin border-var($borderWidth, $borderColor) {
    border: $borderWidth solid $borderColor;
}

@mixin widthCalc($widthCalc, $widthCalcMinus) {
    width: calc(#{$widthCalc} - #{$widthCalcMinus});
}

$base-duration:     0.3s;
$base-timing:       0.3s;

/*=============================
=            Media            =
=============================*/

$imac27 : 2565px;
$imac21 : 1920px;
$cinema : 1680px;
$pad_g  : 1024px;
$pad_v  : 960px;
$mobile : 570px;

$XXLarge: (media: "(min-width: #{$imac21})");
$XLarge: (media: "(min-width: #{$cinema}) and (max-width: #{$imac21})");
$Large: (media: "(min-width: #{$pad_g}) and (max-width: #{$cinema})");
$Medium: (media: "(min-width: #{$pad_v}) and (max-width: #{$pad_g})");
$XSmall: (media: "(max-width: #{$pad_v})");
$Small: (media: "(max-width: #{$mobile})");
$HSmall: (media: "(max-height: #{$mobile})");
$Landscape: (media: "(max-width: #{$pad_v}) and (orientation: landscape)");
$XPortrait: (media: "(min-width: #{$pad_v}) and (max-width: #{$pad_g}) and (orientation: portrait)");

/*=====  End of Media  ======*/

@mixin rowMachineBorder($numPerRow, $margin, $borderWidth) {
    width: calc((100% - ((#{$numPerRow} - 1) * #{$margin}) - ((#{$numPerRow} *2) * #{$borderWidth})) / #{$numPerRow});
    // width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    // width: calc((100% - ((#{$numPerRow} / #{$numPerRow}) * #{$margin})) / #{$numPerRow}); //решение для fenom
    display: inline-block;
    float: left;

    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
        // margin-left: -$margin;
    }

    // &:first-child {
    // 	margin-left: 0;
    // }

    &:nth-of-type(#{$numPerRow}n) {
        margin-right: 0;
        // margin-bottom: 0;
    }

    // @include grid-media($Medium) {
    // 	&:nth-child(n) {
    // 		margin-right: 0;
    // 	}
    // }

    // @include grid-media($Small) {
    // 	&:nth-child(n) {
    // 		margin-right: -5px;
    // 	}
    // }
}

@mixin rowMachine($numPerRow, $margin) {
    width: calc((100% - ((#{$numPerRow} - 1) * #{$margin})) / #{$numPerRow});
    // width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    // width: calc((100% - ((#{$numPerRow} / #{$numPerRow}) * #{$margin})) / #{$numPerRow}); //решение для fenom
    display: inline-block;
    // float: left;

    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin - 0.3;
        // margin-left: -$margin;
    }

    // &:first-child {
    // 	margin-left: 0;
    // }

    &:nth-of-type(#{$numPerRow}n) {
        margin-right: 0;
        // margin-bottom: 0;
    }

    // @include grid-media($Medium) {
    // 	&:nth-child(n) {
    // 		margin-right: 0;
    // 	}
    // }

    // @include grid-media($Small) {
    // 	&:nth-child(n) {
    // 		margin-right: -5px;
    // 	}
    // }
}

@mixin rowMachineHero($numPerRow, $margin) {
    width: calc((100% - ((#{$numPerRow} - 1) * #{$margin})) / #{$numPerRow});
    // width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    // width: calc((100% - ((#{$numPerRow} / #{$numPerRow}) * #{$margin})) / #{$numPerRow}); //решение для fenom
    display: inline-block;
    float: left;

    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
        // margin-left: -$margin;
    }

    // &:first-child {
    // 	margin-left: 0;
    // }

    &:nth-of-type(#{$numPerRow}n) {
        margin-right: 0;
        // margin-bottom: 0;
    }

    // @include grid-media($Medium) {
    // 	&:nth-child(n) {
    // 		margin-right: 0;
    // 	}
    // }

    // @include grid-media($Small) {
    // 	&:nth-child(n) {
    // 		margin-right: -5px;
    // 	}
    // }
}

/*----------  Header  ----------*/
$headerHeight            : 6rem;
$sidebarPadding          : 5rem;
$headerFooterHeight      : (#{$headerHeight} * 1.4375);
$headerSocialWidth       : $sidebarPadding * 2;
$headerLogoWidth         : ($headerHeight * 1.3);

$headerSearchButton      : $sidebarPadding;
$headerSearchBack        : $secondary;
$headerSearchColor       : $fourth;

$headerRightWidth        : $sidebarPadding * 4;
$headerCartOuterWidth    : $sidebarPadding * 3;

$navBackground     : darken($primary, 5%);
$navBackgroundHover: darken($primary, 8%);
$navColorHover     : $fourth;
$navLinkColor      : $third;
$navLinkColorActive: lighten($secondary, 15%);

$marginVert: 2rem;
$navLinkPadding: ($marginVert / 2);
$paddingMobile: 1rem;

$headerHeightMobile      : $headerHeight - 1;
$headerFooterHeightMobile: (#{$headerHeightMobile} * 1.4);
$headerLogoWidthMobile   : $headerLogoWidth - 2.5;
$headerSocialWidthMobile : 25%;

$headerLogoWidthPhone    : $headerLogoWidth - 4;
$headerSidebarTopWidthPhone : 6rem;

$colorBack       : $secondary;               // Цвет заливки меню
$colorText       : lighten($primary, 40%);  // Цвет текста меню
$colorTextHover  : lighten($primary, 30%);  // Цвет текста при наведении
$colorTextActive : $primary;                // Цвет активного пункта меню

/*----------  Layout  ----------*/
$boxShadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);

$gridderBackground: $primary;
$gridderSVGColor: $third;
$gridderSVGColorHover: $fourth;
$gridderSVGWidth: 1.5rem;

/*----------  Sidebar  ----------*/
$sidebarWidth          : 20rem;
$sidebarCartButtonWidth: $marginVert * 1.5;

$sidebarWidthMobile  : $sidebarWidth - 4;
$sidebarPaddingMobile: $sidebarPadding - 1.5;

/*----------  Footer  ----------*/
$footerHeight: 10rem;

/*----------  Front  ----------*/
$frontCategoryWidth: 100% / 4;
$frontCategoryBorder: $border_heavy;

$frontCategoryWidthMobile: 100%;

/*----------  Filter  ----------*/
$filterBorderColor          : $primary;
$filterColorDisabled        : lighten($primary, 15%);
$filterToggleBackMobile     : $primary;
$filterBackgroundMobile     : $secondary;
$filterColorClose           : $filterBorderColor;

/*----------  Cart  ----------*/
$cartTableBorder      : 0.15rem;
$cartVertPaddind      : 0.75rem;
$cartTableBorderColor : $primary;
$cartTextColor        : $primary;
$cartClearBackground  : lighten($primary, 30%);
$cartClearFill        : lighten($primary, 70%);
$cartOrderBackground  : $primary;
$cartOrderBorder      : lighten($primary, 80%);
$cartOtherDescription : lighten($primary, 30%);
$cartBackground       : lighten($primary, 95%);

$inputHeight: 2rem;

/*----------  Minicart  ----------*/
$minicartBack      : lighten($primary, 15%);
$minicartBorder    : $secondary;
$minicartToCart    : lighten($primary, 70%);
$minicartImageWidth: 5rem;

/*----------  Category  ----------*/
$categoryProductBackground  : $third;
$colorCategoryTitle         : $six;
$colorCategoryPrice         : $fourth;
$colorCategoryOldPrice      : $primary;
$colorCategoryVendor        : $third;
$colorProductCart           : $primary;
$colorProductCartHover      : $secondary;

/*----------  Product  ----------*/
$colorBreadrumbs            : lighten($primary, 50%);
$colorBorderBreadrumbs      : $colorBreadrumbs;
$colorOldPrice              : $colorBreadrumbs;

$colorBreadrumbsHover       : #fff;
$colorBorderBreadrumbsHover : $colorBreadrumbsHover;
$colorTextOnBlack           : lighten($primary, 80%);

$backgroundRightColor       : lighten($primary, 95%);
$productOptionBorder        : $border_thin;

/*----------  Search  ----------*/
$searchCloseBackground      : lighten($primary, 30%);
$searchMobileBackground     : $secondary;
$searchMobileColor          : lighten($primary, 10%);

/*----------  Pagination  ----------*/
$paginationBackground : lighten($primary, 50%);
$paginationColor      : $secondary;
$paginationHover      : lighten($primary, 45%);
$paginationActive     : lighten($primary, 35%);

/*=====  End of Variable  ======*/

/*=============================
=            Fonts            =
=============================*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700|M+PLUS+Rounded+1c|Marmelad|Neucha|Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700|Gabriela|Kurale|Philosopher:400,700|Playfair+Display:400,700,900|Tinos:400,700|Yeseva+One&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Alice|Arsenal:400,700|M+PLUS+Rounded+1c:400,500,700|Pacifico|Pattaya|Play:400,700|Prosto+One|Yanone+Kaffeesatz&display=swap&subset=cyrillic,cyrillic-ext');

$primary-font        :  "Roboto", sans-serif;
$primary-font-bold   :  "Roboto", sans-serif;
// $heading-font        :  'Cuprum', sserif;
// $heading-font        : 'Tinos', serif;
// $heading-font        : 'Philosopher', sans-serif; //good
// $heading-font        : 'El Messiri', sans-serif;
// $heading-font        : 'Yeseva One', cursive; //good
// $heading-font        : 'Gabriela', serif;
// $heading-font        : 'Kurale', serif;
// $heading-font: 'Yanone Kaffeesatz', sans-serif; //good compact
$heading-font: 'Arsenal', sans-serif; //good
$heading-font-bold   :  'Roboto Condensed', sans-serif;

$body-font-color     :  lighten($five, 20%);

$body-font-size      :  1rem !default;
$body-font-weight    :  normal !default;
$body-line-height    :  1.4 !default;
$heading-line-height :  1 !default;

$bourbon: (
    "modular-scale-base": $body-font-size,
    "modular-scale-ratio": $minor-third,
);

$font-size-base:    $body-font-size !default;
$font-size-large:   $font-size-base + 0.2 !default; // ~18px
$font-size-small:   $font-size-base - 0.2 !default; // ~14px

$font-size-h1:      modular-scale(5) !default; // ~3rem 48px modular-scale(6)
$font-size-h2:      modular-scale(4) !default; // ~2.5rem 40px modular-scale(5)
$font-size-h3:      modular-scale(3) !default; // ~2rem 33px
$font-size-h4:      $font-size-large !default; // ~1.728rem 28px
$font-size-h5:      modular-scale(2) !default; // ~1.44rem 23px
$font-size-h6:      $font-size-base !default; // ~1.2rem 19px

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    //text-indent: 1rem;

    @include grid-media($XXLarge) {
        font-size: $font-size-base;
    }

    @include grid-media($XLarge) {
        font-size: $font-size-base;
    }

    @include grid-media($Medium) {
        font-size: $font-size-base;
    }

    @include grid-media($XSmall) {
        font-size: $font-size-large;
    }

    @include grid-media($Small) {
        font-size: $font-size-large;
    }
}

%hx {
    font: {
        family: $heading-font;
        weight: 400;
    };
    //letter-spacing: 0.04em;
    line-height: $heading-line-height;
    // text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/*=====  End of Fonts  ======*/


/*==============================
=            Layout            =
==============================*/

// %scrollbar_body {
//     &::-webkit-scrollbar-track {
//         background-color: #fff;
//     }

//     &::-webkit-scrollbar {
//         width: 6px;
//         background: #fff;

//         &::window-inactive {

//         }

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 60%);

//         &:window-inactive {
//             background-color: #fff;
//         }
//     }

//     @include grid-media($Small) {

//         &::-webkit-scrollbar {
//             width: 0;
//         }
//     }
// }

// %scrollbar_sidebar {
//     &::-webkit-scrollbar-track {
//         background-color: #fff;
//     }

//     &::-webkit-scrollbar {
//         width: 4px;
//         background: #fff;

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 70%);
//         //border: 2px solid #555555;

//         &:window-inactive {
//             opacity: 0;
//         }
//     }
// }

body {
    @extend %px;
    margin: 0;
    background-color: $bgColor;
    // @extend %scrollbar_body;

    p {
        margin-top: 0;

        // &:first-child {
        //     margin-top: 0;
        // }

        // &:last-child {
        //     margin-bottom: 0;
        // }

        &.text-green {
            color: $primary;
        }

        &.small {
            font-size: $font-size-small;
            padding-left: 1.7rem;
        }
    }

    @include grid-media($Small) {
        font-size: $font-size-base;
    }
}

h1 {
    @extend %hx;
    font-size: $font-size-h1;
    color: $primary;
    //margin-bottom: 1em;
    //text-align: center;
    //transition: all .3s;

    // @include grid-media($Medium) {
    //     font-size: $font-size-large + 0.5;
    // }

    // @include grid-media($XSmall) {
    //     font-size: $font-size-large + 0.3;
    // }

    @include grid-media($Small) {
        font-size: $font-size-h1 - 0.4;
    }
}

h2 {
    @extend %hx;
    font-size: $font-size-h2;
    color: $primary;

    // @include grid-media($Small) {
    //     font-size: $font-size-large + 0.5;
    // }
}

h3 {
    @extend %hx;
    font-size: $font-size-h3;
    color: $primary;
}

h4 {
    @extend %hx;
    font-size: $font-size-h4;
    color: $primary;
    // margin-top: 0;
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
    color: $secondary;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
    color: $secondary;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}

span {

    @include grid-media($Medium) {
        font-size: $font-size-base;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        @include grid-media($Medium) {
            font-size: $font-size-large;
        }
    }
}

a {
    color: $primary;
    text-decoration: none;
    transition: all $base-duration;
    outline: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}

input {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
}

svg {
    transition: all 0.3s;
    overflow: initial;

    g {
        transition: all 0.3s;
    }

    path,
    rect,
    polygon {
        transition: all 0.3s;
    }
}
/*=====  End of Layout  ======*/

