/*============================
=            Cart            =
============================*/
.js #msCart [type="submit"][value="cart/change"] {
	display: none;
}

.cart-content {

	&__empty {
		width: calc(100% - #{$headerCartOuterWidth});
		height: calc(100vh - (#{$headerHeight} * 1.5) - #{$headerHeight});
		// background-color: $cartBackground;
		display: flex;
		justify-content: center;
		align-items: center;
		// flex-wrap: wrap;
		overflow: hidden;
		position: relative;
		margin-left: $headerCartOuterWidth;

		img {
			width: 80%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center;
			opacity: 0.2;
			// transform: translate(0, -50%);
		}
	}

	&__full {
		width: 60%;
		min-height: calc(50vh - (#{$headerHeight} / 2));
		display: flex;
		// flex-direction: row;
		// align-items: center;
		position: relative;
		padding: ($headerHeight / 4) 0;
	}

	&__order {
		width: 100%;
		// min-height: 50vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: center;
		// background-color: $primary;
		color: $cartTextColor;
		position: relative;
		padding: 0;
		overflow: hidden;

		.cart-table {
			width: 100%;
			min-height: 8rem;
			display: flex;
			flex-direction: row;
			margin: 0 0 1rem;
			// background-color: $fourth;
			// border: $cartTableBorder solid $cartTableBorderColor;
			// border-right: none;

			&__image {
				width: 20%;
				height: 8rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border: $cartTableBorder solid $cartTableBorderColor;
				background-color: $fourth;
				overflow: hidden;

				a {
					width: 100%;
					height: 8rem;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;

					picture {
						width: 100%;
						height: 100%;
					}

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-fit: cover;
						object-position: center;
					}
				}
			}

			&__product {
				width: 55%;
				height: 8rem;
				display: flex;
				flex-direction: column;
				border: $cartTableBorder solid $cartTableBorderColor;
				border-left: none;
				// background-color: $fourth;

				.product {
					width: 100%;
					height: 100%;

					&__title {
						width: calc(100% - 2rem);
						// height: calc(100% - (#{$cartVertPaddind} * 2));
						height: 50%;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						// padding: $cartVertPaddind 1rem;
						padding: 0 1rem;
						border-bottom: $cartTableBorder solid $cartTableBorderColor;

						a {
							color: $cartTextColor;
							font-family: $heading-font;
							font-size: $font-size-large;
						}
					}

					&__vendor {
						width: calc(100% - 2rem);
						height: calc(100% - (#{$cartVertPaddind} * 2));
						height: 50%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						padding: $cartVertPaddind 1rem;
						padding: 0 1rem;

						span {
							font-family: $heading-font;
							font-size: $font-size-large;
							color: $secondary;
						}
					}
				}
			}

			&__count {
				width: 20%;
				height: 8rem;
				display: flex;
				flex-direction: column;
				border: $cartTableBorder solid $cartTableBorderColor;
				border-left: none;
				// background-color: $fourth;

				&-form {
					height: 100%;
				}

				&-block {
					width: 100%;
					// height: calc(100% - (#{$cartVertPaddind} * 2));
					height: 50%;
					border-bottom: $cartTableBorder solid $cartTableBorderColor;
					// padding: $cartVertPaddind 0;
				}

				&-group {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					position: relative;
				}

				&-input {
					width: calc(60% - 0.8rem);
					height: 95%;
					display: flex;
					align-items: center;
					text-align: center;
					background-color: transparent;
					color: $secondary;
					outline: none;
					border: none;
					font-family: $primary-font;
					font-size: $font-size-large;
					margin-left: 0.8rem;
					position: relative;
				}

				%cartTableButton {
					width: 20%;
					height: 100%;
					display: block;
					position: relative;
					top: 0;
					right: 0;
					// margin-top: -10%;
					z-index: 2;
					background-color: $primary;
					outline: none;
					border: none;
					font-size: $font-size-large;
					color: $third;
					transition: all 0.3s;
					cursor: pointer;

					svg {
						width: 100%;
						height: 100%;

						polyline {
							fill: none;
							stroke: $secondary;
							stroke-width: 0.3rem;
						}
					}

					&:hover {
						background-color: $navBackground;
						color: $fourth;
					}
				}

				&-up {
					@extend %cartTableButton;
				}

				&-down {
					@extend %cartTableButton;
				}

				&-unit {
					width: 30%;
					display: flex;
					align-items: center;
				}

				&__button {
					width: 0%;
				}

				&-count {
					width: 100%;
					height: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: $heading-font;
					font-size: $font-size-large;
					color: $secondary;
					border-bottom: $cartTableBorder solid $cartTableBorderColor;
				}
			}

			&__price {
				width: 100%;
				// height: calc(100% - (#{$cartVertPaddind} * 2));
				height: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				// padding: $cartVertPaddind 0;

				&-price {
					width: calc(100% - 1.5rem);
					height: 60%;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 0.75rem;
					font-family: $heading-font;
					font-size: $font-size-large;
					color: $secondary;
				}

				&-oldprice {
					width: calc(100% - 2rem);
					height: 30%;
					display: flex;
					align-items: flex-end;
					justify-content: center;
					color: $primary;
					text-decoration: line-through;
					padding: 0 1rem;
					line-height: 0.7;
				}
			}

			&__remove {
				width: 5%;
				height: 8rem;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: transparent;

				button {
					width: 1rem;
					height: 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 0;
					background-color: transparent;
					border: none;
					padding: 0;
					cursor: pointer;

					svg#tableIDlose {
						width: 1rem;
						height: 1rem;
						transform: rotate(-45deg);

						polygon {
							fill: $primary;
						}
					}

					&:hover {

						svg#tableIDlose {


							polygon {
								fill: $secondary;
							}
						}
					}
				}
			}

			&__options {
				height: 1.4rem;
				// margin-right: 0.5rem;
			}
		}

	}

	&__total {
		width: 100%;
		height: ($headerHeight / 2) + ($headerHeight / 4);
		display: flex;
		flex-direction: row;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		// background-color: $fourth;
		// margin-left: $sidebarPadding;
		padding: 0;
		// border-top: $border_normal solid $third;
		// border-bottom: $border_normal solid $third;
		// box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);
		z-index: 9000;

		img {
			width: auto;
			height: 80%;
			display: block;
		}

		&-stroke {
			width: 50%;
			height: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			// padding-right: 1rem;
			font-family: $heading-font;
			font-size: $font-size-large;
			color: $secondary;
		}

		&--end {
			flex-direction: column;
			justify-content: flex-start;
			transform: translateY(100%);

			.cart-content__total-stroke {
				width: 100%;
				align-items: flex-start;
			}
		}
	}

	.cart-total {


		&__total {
			width: 20%;
			display: flex;
			align-items: center;
			color: $secondary;
			font-size: $font-size-h3;
			text-align: left;
		}

		&__count {
			width: 30%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $secondary;
			font-size: $font-size-h3;
			text-align: center;
		}

		&__cost {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			color: $secondary;
			font-size: $font-size-h3;
			text-align: right;
		}

		&__send {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__clear {
		width: $sidebarCartButtonWidth;
		height: $sidebarCartButtonWidth;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		outline: none;
		border: none;
		padding: 0;
		position: absolute;
		background-color: $secondary;
		cursor: pointer;
		top: 50%;
		left: -$sidebarPadding;
		transform: translate(-50%, -50%);

		&:before {
			content: "x";
			width: 2rem;
			height: 2rem;
			display: block;
			font-size: 3rem;
			line-height: 0.5;
			color: $fourth;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			// opacity: 0;
			transition: transform 0.3s;
		}

		svg {
			width: $headerHeight / 1.5;
			height: $headerHeight / 1.5;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

			path {
				fill: none;
				stroke: $fourth;
				stroke-width: $border_normal;
				fill-rule: evenodd;
			}
		}

		&:hover {

			svg#productCartFull {

				#productCart {
					fill: $secondary;
				}

				#productCartAdd {
					fill: $secondary;
					transform: translateY(0);
				}
			}
		}

		button {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			// border-radius: 50%;
			outline: none;
			border: none;
			background-color: transparent;
			cursor: pointer;

			&:hover {

				svg {

					#cartClear {
						fill: $secondary;
					}

					#cartClearCross {
						fill: $secondary;
						transform: translateY(10%);
					}
				}
			}
		}
	}

	// @include grid-media($Medium) {

	// 	.cart-total {
	// 		width: calc(50% - 50px - 5rem);
	// 		padding: 0 3rem 0 2rem;

	// 		&__total {
	// 			font-size: $font-size-large;
	// 		}

	// 		&__count {
	// 			font-size: $font-size-large;
	// 		}

	// 		&__cost {
	// 			font-size: $font-size-large;
	// 		}
	// 	}

	// 	&__order {
	// 		width: calc(50% - 4rem);
	// 		padding: 0 1rem 0 3rem;

	// 		.cart-table {
	// 			width: 100%;
	// 			font-size: $font-size-base;

	// 			.table-id {

	// 				&__count {

	// 					.count__count {

	// 						.count-form-group {

	// 							&__input {
	// 								width: 60%;
	// 							}

	// 							&__unit {
	// 								width: 40%;
	// 							}
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}

	// 	&__empty {

	// 		.cart-empty {

	// 			&__to-menu,
	// 			&__to-search {
	// 				font-size: $font-size-small;
	// 			}
	// 		}
	// 	}
	// }

	// @include grid-media($XSmall) {

	// 	.cart-total {
	// 		width: calc(50% - 50px - 5rem);
	// 		padding: 0 3rem 0 2rem;

	// 		&__total {
	// 			font-size: $font-size-large;
	// 		}

	// 		&__count {
	// 			font-size: $font-size-large;
	// 		}

	// 		&__cost {
	// 			font-size: $font-size-large;
	// 		}
	// 	}

	//     &__order {
	// 		width: calc(50% - 7rem);
	// 		padding: 0 3rem 0 4rem;
	// 		min-height: calc(100vh - 100px);
	// 		// z-index: 3;

	// 		.cart-table {
	// 			width: 100%;
	// 			font-size: $font-size-base;

	// 			.table-id {
	// 				flex-direction: column;
	// 				margin-left: 0;

	// 				&__image {
	// 					width: 100%;
	// 					border-left: $cartTableBorder solid $secondary;
	// 				}

	// 				&__product {
	// 					width: 100%;
	// 					height: 12rem;
	// 					border-left: $cartTableBorder solid $secondary;
	// 				}

	// 				&__count {
	// 					width: 100%;
	// 					margin-top: -0.075rem;
	// 					border-left: $cartTableBorder solid $secondary;
	// 				}

	// 				&__remove {
	// 					width: 100%;
	// 					height: 2rem;
	// 					background-color: $secondary;
	// 					border: $cartTableBorder solid $cartTableBorderColor;

	// 					button {
	// 						background-color: $secondary;

	// 						svg#tableIDlose {
	// 							polygon {
	// 								fill: $primary;
	// 							}
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}

	// 	&__empty {

	// 		.cart-empty {

	// 			&__center {
	// 				width: 100%;
	// 				text-align: center;

	// 				h2 {
	// 					font-size: $font-size-large;
	// 				}
	// 			}

	// 			&__to-menu,
	// 			&__to-search {
	// 				display: none;
	// 				visibility: hidden;
	// 			}
	// 		}
	// 	}
	// }

	@include grid-media($Small) {
		flex-direction: column;

		&__total {
			width: 100%;
			height: calc(50vh - 50px - 2.5rem);
			padding-top: 2.5rem;
			z-index: 1;
		}

		.cart-total {
			width: 100%;
			height: 100%;
			flex-direction: column;
			justify-content: center;
			background-color: transparent;
			position: relative;
			left: 0;
			padding: 0;

			&__total {
				width: 100%;
				color: $primary;
				text-align: center;
				justify-content: center;
			}

			&__count {
				width: 100%;
				color: $primary;
				text-align: center;
			}

			&__cost {
				width: 100%;
				color: $primary;
				text-align: center;
				justify-content: center;
			}
		}

		.cart-clear {
			width: 100%;
			bottom: 50px;
			left: 0;
			transform: translate(0, 0);
			z-index: 9999;

			button {
				width: 100%;
				height: 2.5rem;
				padding: 0;
				transform: rotate(0);
				background-color: $minicartToCart;

				svg {
					display: none;
					visibility: hidden;
					transform: rotate(-45deg) translate(-40%, -2%);
				}

				#cartClearFullMobile {
					display: block;
					visibility: visible;
				}
			}
		}

		&__order {
			width: 100%;
			height: 100%;

			.cart-table {
				width: 100%;
				font-size: $font-size-base;
				flex-direction: row;
				flex-wrap: wrap;

				&__image {
					width: 100%;
					height: calc(60vw - (#{$paddingMobile} * 2));
					border-bottom: none;

					a {
						height: 100%;
					}
				}

				&__product {
					width: 100%;
					height: inherit;
					min-height: $headerHeightMobile;
					border-left: $cartTableBorder solid $secondary;

					.product {


						&__title,
						&__vendor {
							padding: 1rem;
						}
					}
				}

				&__count {
					width: 100%;
					height: $headerHeightMobile / 1.5;
					flex-direction: row;
					border: none;

					&-block {
						width: 50%;
						height: 100%;
					}
				}

				&__price {
					width: 50%;
					height: 100%;
					border: none;
					border-right: $cartTableBorder solid $primary;
					border-bottom: $cartTableBorder solid $primary;
				}

				&__remove {
					width: 100%;
					height: $headerHeightMobile / 2;
					// background-color: $bgColor;
					// border: $cartTableBorder solid $cartTableBorderColor;

					button {
						// background-color: $secondary;

						svg#tableIDlose {
							polygon {
								fill: $primary;
							}
						}
					}
				}

			}
		}

		&__empty {
			width: 100%;
			margin-left: 0;

			img {
				width: 100%;
			}
		}

		&__full {
			width: calc(100% - (#{$paddingMobile} * 2));
			min-height: 30vh;
			padding: 0 $paddingMobile;

		}
	}
}

/*=====  End of Cart  ======*/
