/*================================
=            Category            =
================================*/

.category {

	&-grid {
		width: 100%;
		min-height: calc(100vh - #{$headerHeight});
		// margin-left: -1rem;
		// background-color: $bgColor;
		display: block;
		// display: flex;
		// flex-direction: column;
		// flex-wrap: wrap;
		padding: 1.5rem 0 0;
		// margin-bottom: $marginVert;
		position: relative;

		button {

			&.btn_more {
				width: 30%;
				height: 3rem;
				background-color: $paginationBackground;
				padding: 0;
				// margin-top: 2rem;
				border: none;
				outline: none;
				font-size: $font-size-base;
				color: $secondary;
				left: 50%;
				position: relative;
				transform: translateX(-50%);
				cursor: pointer;
				transition: background 0.3s;

				&:hover {
					background-color: $paginationHover;
				}
			}
		}
	}

	&-product {
		@include rowMachine(3, $marginVert);
		// width: calc((100% / 4) - 1rem);
		// min-height: 25vh;
		display: block;
		background-color: $categoryProductBackground;
		margin-bottom: 1rem;
		margin-right: 1rem;
		// border: $border_normal solid $six;
		box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);

		&:hover {
			box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.6);
		}

		&__form {
			width: 100%;
			// height: 100%;
			// min-height: 25rem;
			// display: flex;
			// flex-direction: column;
			transition: all 0.3s;
		}

		&__top {
			width: 100%;
			height: 70%;
			// min-height: 25rem;
			display: block;
			position: relative;
			float: left;
			// flex-direction: row;

			#msGallery {

				.fotorama__nav-wrap {
					display: none;
					visibility: hidden;
				}
			}
		}

		&__flags {
			// width: 50%;
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 0.15rem;
			left: 0;

			.badge {
				display: flex;
				// float: left;
				padding: 0.2rem 0.4rem;
				margin: 0.15rem 0;
				font-size: $font-size-small - 0.2;
				color: $fourth;

				&--new {
					background-color: #E6002F;
				}

				&--popular {
					background-color: $primary;
				}

				&--favorite {
					background-color: $secondary;
				}
			}
		}

		&__image {
			width: 100%;
			height: auto;
			display: block;
			// align-items: center;
			// justify-content: center;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		&__vendor {
			width: calc(100% - 2rem);
			// height: 100%;
			display: block;
			// float: left;
			// align-items: center;
			// justify-content: center;
			padding: 0.5rem 1rem;
			overflow: hidden;
			background-color: $colorCategoryVendor;
			position: relative;
			// color: $colorCategoryOldPrice;
			top: 50%;
			text-align: right;
			color: $fourth;
			font-family: $heading-font;

			&:hover {

				a {
					color: $primary;
				}
			}
		}

		&__bottom {
			width: 100%;
			// height: 30%;
			// min-height: 25rem;
			display: block;
			float: left;
			// flex-direction: column;
			// background-color: $categoryProductBackground;
		}

		&__title {
			width: calc(100% - 2rem);
			height: 5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 0 1rem;
			background-color: $colorCategoryTitle;
			font: {
				family: $heading-font;
				size: $font-size-base;
				weight: 700;
			};
			color: $secondary;
			line-height: 1;

			&-tall {
				height: 8rem;
			}
		}

		&__footer {
			width: 100%;
			min-height: 5rem;
			display: flex;
			flex-direction: column;
			background-color: $categoryProductBackground;
			// display: flex;
			// flex-direction: row;
			// align-items: center;
			// padding: 0.5rem 1rem;
		}

		&__subfooter {
			width: 100%;
			display: flex;
			flex-direction: row;
		}

		&__price {
			width: calc(100% - 2rem);
			height: 3rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 0 1rem;

			.old_price {
				// width: calc(100% - 2rem);
				// height: 100%;
				// display: flex;
				// align-items: flex-end;
				// justify-content: flex-start;
				// // padding: 0 1rem;
				font-size: $font-size-small;
				font-family: $heading-font;
				color: $colorCategoryOldPrice;
				text-decoration: line-through;
				// font-size: $font-size-small;
				// text-align: left;
				margin-right: 0.5rem;
			}

			.price {
				// width: calc(100% - 2rem);
				// height: 100%;
				// display: flex;
				// align-items: center;
				// justify-content: center;
				// padding: 0 1rem;
				font: {
					family: $heading-font;
					size: $font-size-base;
					weight: 700;
				};
				// font-weight: 700;
				// text-align: center;
				color: $secondary;
			}

			&-short {
				width: calc(100% - 5rem);
			}
		}

		&__cart {
			width: 45%;
			height: 100%;
			display: block;
			float: left;
			position: relative;

			&-button {
				background-color: transparent;
				border: none;
				outline: none;
				width: 100%;
				height: 100%;
				padding: 0 0.5rem;
				background-color: $primary;
				font-family: $heading-font;
				font-size: $font-size-base;
				color: $third;
				cursor: pointer;
				transition: all 0.3s;

				// &:before {
				// 	content: "+";
				// 	width: 1.4rem;
				// 	height: 1.4rem;
				// 	display: block;
				// 	font-size: $font-size-large;
				// 	line-height: 1;
				// 	background-color: $secondary;
				// 	color: $fourth;
				// 	border-radius: 50%;
				// 	position: absolute;
				// 	top: 40%;
				// 	left: 50%;
				// 	transform: translate(-50%, -80%);
				// 	opacity: 0;
				// 	transition: transform 0.3s;
				// }
			}

			.product-count {
				display: none;
				visibility: hidden;
			}

			svg {
				width: 90%;

				path {
					stroke: $colorProductCart;
					stroke-width: $border_normal;
				}

				#categoryCartAdd {
					opacity: 0;
					fill: $colorProductCart;
					// transform: translateY(-10%);
				}

				#categoryCart {
					fill: $colorProductCart;
				}
			}

			&:hover {


				svg {

					path {
						stroke: $colorProductCartHover;
					}
				}

				.category-product__cart-button {
					background-color: $navBackground;
					color: $fourth;

					// &:before {
					// 	transform: translate(-50%, -50%);
					// 	opacity: 1;
					// }
				}
			}
		}

		&__count {
			width: 100%;
			height: 18%;
			display: flex;
			// padding: 0 0.5rem;
			background-color: lighten($primary, 85%);
			position: relative;

			.product-count {
				width: 100%;
				height: 95%;
				display: flex;
				align-items: center;
				text-align: center;
				background-color: transparent;
				outline: none;
				border: none;
				font-family: $primary-font;
				font-size: $font-size-large;
				position: relative;

				&__up {
					width: 100%;
					height: 1rem;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					background-color: $secondary;
					z-index: 2;
					background-color: lighten($primary, 75%);
					outline: none;
					border: none;
					padding: 0.15rem 0;
					transition: all 0.3s;
					cursor: pointer;
					border-radius: 0;

					svg {
						width: 0.7rem;
						height: 0.7rem;
						fill: lighten($primary, 40%);
						transition: all 0s;
					}

					&:hover {
						background-color: lighten($primary, 70%);

						svg {
							fill: lighten($primary, 20%);
						}
					}
				}

				&__down {
					width: 100%;
					height: 1rem;
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 2;
					background-color: lighten($primary, 75%);
					outline: none;
					border: none;
					padding: 0.15rem 0;
					transition: all 0.3s;
					cursor: pointer;
					border-radius: 0;

					svg {
						width: 0.7rem;
						height: 0.7rem;
						transform: rotate(180deg);
						fill: lighten($primary, 40%);
						transition: all 0s;
					}

					&:hover {
						background-color: lighten($primary, 70%);

						svg {
							fill: lighten($primary, 20%);
						}
					}
				}
			}
		}

		&__button {
			width: 3rem;
			height: 3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			// padding: 0 0.5rem;
			margin: 0;
			background-color: $navBackground;
			color: $fourth;
			border: none;
			outline: none;
			cursor: pointer;

			svg {
				width: auto;
				height: 70%;
				display: block;
				fill: $fourth;

				path#productCartAdd {
					opacity: 0;
					transform: translate(-7%, -10%);
					transition: all 0.3s;
				}
			}

			&:hover {

				svg {

					path#productCartAdd {
						opacity: 1;
						transform: translate(-7%, 0);
					}
				}
			}
		}
	}

	@include grid-media($XXLarge) {

		&-product {
			@include rowMachine(5, $marginVert);

			&__title {
				font-size: $font-size-base + 0.1;
			}
		}
	}

	@include grid-media($XLarge) {



		&-product {
			@include rowMachine(4, $marginVert);

			&__title {
				font-size: $font-size-base + 0.1;
			}
		}
	}

	@include grid-media($Medium) {

		// &-grid {
		// 	width: calc(100% - (#{$sidebarPaddingMobile} * 2));
		// 	min-height: calc(100vh - (#{$headerHeightMobile} * 2));
		// 	padding: $sidebarPaddingMobile;
		// }

		&-product {
			@include rowMachine(2, $marginVert);

			&__vendor {

				.vendor {
					width: 50%;
				}
			}

			&__price {
				height: $marginVert * 2;

				// .old_price {
				// 	width: calc(100% - 2rem);
				// 	height: 40%;
				// }

				// .price {
				// 	width: calc(100% - 2rem);
				// 	height: 60%;
				// }
			}
		}
	}

	@include grid-media($XSmall) {

		// &-grid {

		// }

		&-product {
			@include rowMachine(1, 1rem);

			&__vendor {

				.vendor {
					width: 50%;
				}
			}

			&__title {
				font-size: $font-size-large;
			}

			// &__price {


			// 	// .old_price {
			// 	// 	width: calc(100% - 2rem);
			// 	// 	height: 40%;
			// 	// }

			// 	// .price {
			// 	// 	width: calc(100% - 2rem);
			// 	// 	height: 60%;
			// 	// }
			// }
		}
	}

	@include grid-media($Small) {

		&-grid {
			width: 100%;
			padding-top: $headerHeightMobile * 1.5;

			button {

				&.btn_more {
					width: 100%;
				}
			}
		}

		&-product {
			width: 100%;
			margin-right: 0;

			&__footer {
				height: inherit;
				min-height: 5rem;
				flex-direction: column;
			}

			&__title {
				width: calc(100% - (#{$paddingMobile} * 2));
				height: $marginVert * 2;
				padding: $paddingMobile;
				justify-content: center;
				text-align: center;
			}

			&__price {
				width: 100%;
				height: $headerHeightMobile / 1.5;
				flex-direction: row;
				padding: 0;
				justify-content: center;

				.old_price,
				.price {
					width: calc(50% - #{$paddingMobile});
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 ($paddingMobile / 2);
					text-align: center;
				}

				.price {
					font-size: $font-size-large;
				}
			}
		}
	}
}

#mse2_results {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	.search-empty {
		display: inline-block;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

// .mse2-results {
// 	position: absolute;
// 	top: 50%;
// 	left: 37.5%;
// 	transform: translate(-50%, -50%);
// }

/*=====  End of Category  ======*/
