/*==============================
=            Footer            =
==============================*/
$footer-grid: (
    columns: 1,
    gutter: 5rem
);

.footer {
    width: calc(100% - (#{$sidebarPadding} * 3) - #{$headerCartOuterWidth});
    min-height: $headerHeight;
    background: $primary;
    display: block;
    position: relative;
    padding: 0 $sidebarPadding;
    bottom: 0;
    font-size: $font-size-small;
    color: $third;
    z-index: 9000;

    &-front {
        width: calc(100% - (#{$sidebarPadding} * 2));
    }

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__top {
            width: 100%;
            height: $headerHeight / 2;
            display: flex;
            flex-direction: row;
            padding: 1rem 0;
            border-bottom: $border_normal solid $secondary;
        }

        &__bottom {
            width: 100%;
            height: $headerHeight / 2;
            display: flex;
            flex-direction: row;
            padding: 1rem 0;
        }

        &__nav {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    margin-right: 0.5rem;

                    a {
                        font-size: $font-size-small;
                        color: $third;
                    }

                    &:after {
                        content: "|";
                        margin-left: 0.5rem;
                    }

                    // &:first-child {
                    //     margin-left: 0;
                    // }

                    &:last-child {
                        margin-right: 0;

                        &:after {
                            display: none;
                        }
                    }

                    &:hover {

                        a {
                            color: $fourth;
                        }
                    }
                }
            }
        }

        &__link {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            ul {
                // width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    width: auto;
                    margin-right: 0.5rem;
                    // margin-bottom: 0.5rem;

                    a, img {
                        width: auto;
                        height: $headerHeight / 3;
                        display: block;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &-metrika {
                width: 88px;
                height: 31px;
                display: inline-block;
                background-color: $third;
                margin-right: $marginVert / 2;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__copyright {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        &__author {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            text-align: right;

            span {
                width: auto;
                height: $headerHeight / 3;
                font: {
                    //family: $font-family-base;
                    size: $font-size-small;
                };
                line-height: 1;
                color: $primary;
                display: inline-block;
            }

            a {
                width: auto;
                height: $headerHeight / 3;
                margin-left: 1rem;
                margin-top: -0.5rem;
                display: inline-block;

                svg {
                    width: auto;
                    height: 100%;
                    transition: all 0.2s;

                    .redvus-logo__red {
                        fill: $secondary;
                    }

                    .redvus-logo__deepred {
                        fill: $third;
                    }

                    &:hover {

                        .redvus-logo__red {
                            fill: $fourth;
                        }
                    }
                }
            }
        }
    }

    @include grid-media($XSmall) {

        &-container {

            &__top {
                min-height: $paddingMobile * 2;
                height: inherit;
            }
        }
    }

    @include grid-media($Small) {
        width: calc(100% - (#{$paddingMobile} * 2));
        padding: 0 $paddingMobile ($headerHeightMobile / 2);
        margin-top: $paddingMobile * 3;
        z-index: 0;

        &-container {

            &__top {
                flex-direction: column;
            }

            &__nav {
                display: none;
                visibility: hidden;
            }

            &__link {
                width: 100%;
                justify-content: space-between;
            }

            &__bottom {
                height: inherit;
                flex-direction: column;
            }

            &__copyright {
                width: 100%;

                // br {
                //     display: none;
                // }
            }

            &__author {
                width: 100%;
            }
        }
    }
}

/*=====  End of Footer  ======*/
