/*=====================================
=            Front Content            =
=====================================*/

.front-hero {
    width: 100%;
    height: calc(100vh - (#{$sidebarPadding} + #{$headerHeight}) - #{$sidebarPadding});
    padding-bottom: $sidebarPadding;
	// display: flex;
    // flex-direction: row;
    position: relative;
    // background-color: $fourth;

	&__slider {
		width: 100%;
		height: 50%;
		display: block;
		background-color: $secondary;
		position: relative;
		overflow: hidden;

		img {
			width: auto;
			height: 100%;
			display: block;
		}

        .ms-info {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(50%);
            z-index: 1;

            h2 {
                display: flex;
                margin: 0;
                padding: 0.5rem 1rem;
                background-color: #fff;
            }

            h3 {
                margin: 0;
                padding: 0.5rem 1rem;
                background-color: #fff;
            }

            span {
                font-size: $font-size-base;
                display: flex;
                margin: 1rem 0 0;
                padding: 0.5rem 1rem;
                background-color: #fff;
            }
        }
	}

	ul {
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        li {
            @include rowMachineHero(4, 1rem);
            // width: calc(#{$frontCategoryWidth} - #{$frontCategoryBorder});
            // height: calc(100% - (#{$frontCategoryBorder} * 2));
            position: relative;
            overflow: hidden;
            // margin: 0 ($frontCategoryBorder / 2) $frontCategoryBorder;
            box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);

            a {
                width: 100%;
                height: 100%;
                // display: flex;
                // justify-content: flex-end;
                // align-items: flex-start;
                // color: lighten($primary, 70%);
                color: $fourth;
                transition: all $base-duration;
                font-family: $heading-font;
                font-size: 2vw;
                line-height: 1;
                // text-transform: uppercase;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                overflow: hidden;

                span {
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    position: absolute;
                    transition: letter-spacing 0.5s, transform 0.4s, color 1.2s;
                    text-shadow: 0 0 0.3rem lighten($five, 20%);
                }

                &:after {
                    content:"\f061";
                    font-family: 'fontawesome';
                    font-size: 2vw;
                    color: $fourth;
                    position: absolute;
                    left: 50%;
                    bottom: 30%;
                    transform: translateX(-100%);
                    opacity: 0;
                    transition: transform 0.4s, opacity 0.4s;
                }
            }

            &:hover {

                a {
                    // font-weight: 700;

                    span {
                        // text-shadow: none;
                        transform: translate(-50%, -120%);
                    }

                    &:after {
                        transform: translateX(-50%);
                        opacity: 1;
                    }
                }

                .front-hero__image {
                    background-color: $primary;

                    img {
                        opacity: 0.5;
                        transform: scale(0.95);
                        filter: grayscale(0);
                    }
                }

                .front-hero__stroke {

                    svg {

                        rect {
                            // stroke-dasharray: 10;
                            stroke-dashoffset: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &__image {
        width: 115%;
        height: 115%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: 50% 50%;
        // overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        background-color: $six;
        transform: translate(-50%, -50%);
        transition: background 1s cubic-bezier(.19, 1, .22, 1);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: grayscale(0.5);
            opacity: 0.7;
            transition: transform 1s cubic-bezier(.19, 1, .22, 1), opacity 1s, filter 0.7s;
        }
    }

    &__stroke {
        width: 90%;
        height: 90%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        svg {
            width: 100%;
            height: 100%;

            rect {
                fill: none;
                stroke: $fourth;
                stroke-width: $border_normal;
                stroke-dasharray: 10;
                stroke-dashoffset: 30;
                opacity: 0;
            }
        }
    }

    @keyframes dash {
        from {
            stroke-dashoffset: 1000;
        }
        to {
            stroke-dashoffset: 0;
        }
    }

    @include grid-media($Medium) {
        height: calc(100vh - #{$headerHeightMobile});
    }

    @include grid-media($XSmall) {
        height: calc(100vh - #{$headerHeightMobile});

        &__slider {
            display: none;
            visibility: hidden;
        }

        &__category {
            width: 100%;
            height: calc(100% - (#{$frontCategoryBorder} / 2));
            padding: 0 0 ($frontCategoryBorder / 2);

            ul {


                li {
                    width: calc(#{$frontCategoryWidthMobile} - (#{$frontCategoryBorder} * 2));
                    height: calc(#{$frontCategoryWidth} - #{$frontCategoryBorder});
                    position: relative;
                    margin: ($frontCategoryBorder / 2) $frontCategoryBorder;

                    a {

                        span {
                            top: -1.7vh;
                            left: -0.2vh;
                            transform: rotate(0);
                        }
                    }

                    &:first-child {
                        height: calc(#{$frontCategoryWidth} - (#{$frontCategoryBorder} / 2));
                        margin-top: 0;
                    }
                }
            }

            &-image {


                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    @include grid-media($Small) {
        height: inherit;
        padding-bottom: $paddingMobile * 2;

        ul {

            li {
                width: 100%;
                height: $headerHeightMobile;
                margin-right: 0;

                &:nth-child(n) {
                    margin-right: 0;
                    margin-bottom: $paddingMobile / 2;
                }

                a {
                    font-size: $font-size-large;
                }
            }
        }

        &__category {
            height: calc(100% - #{$frontCategoryBorder});
            padding: ($frontCategoryBorder / 2) 0;

            ul {


                li {


                    &:first-child {
                        height: calc(#{$frontCategoryWidth} - #{$frontCategoryBorder});
                        margin-top: ($frontCategoryBorder / 2);
                    }
                }
            }
        }
    }
}

.front-news {
    width: 100%;
    // height: calc(100vh - (#{$sidebarPadding} + #{$headerHeight}) - #{$sidebarPadding});
    display: flex;
    flex-direction: column;
    margin-bottom: $sidebarPadding;

    // ul {
    //     height: 100%;
    // }

    &__part {
        @include rowMachine(4, $marginVert);
        height: 50vh;
        box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);
    }

    &__image {
        width: 100%;
        height: 23vh;
        display: block;
        position: relative;
        float: left;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        width: calc(100% - 1rem);
        height: $paddingMobile * 2.5;
        display: flex;
        align-items: center;
        position: relative;
        background-color: $primary;
        padding-left: 1rem;
        transition: all 0.3s;

        h3 {
            color: $third;
            font-size: $font-size-large;
        }

        &:hover {

            h3 {
                color: $fourth;
            }
        }
    }

    &__text {
        width: calc(100% - 2rem);
        height: calc(27vh - (#{$paddingMobile} * 5) - 2rem);
        display: block;
        float: left;
        position: relative;
        padding: 1rem;
        background-color: $fourth;
    }

    &__footer {
        width: 100%;
        height: $paddingMobile * 2.5;
        display: flex;
        flex-direction: row;
        background-color: darken($third, 5%);
    }

    &__date {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: $primary;
            font-size: $font-size-small;
        }
    }

    &__link {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: darken($third, 10%);

        &:before {
            content:"\f054";
            font-family: "fontawesome";
            // font-size: $font-size-large;
            color: $primary;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: transform $base-duration;
        }

        &:hover {

            &:before {
                color: $secondary;
                transform: translate(0, -50%);
            }
        }
    }

    @include grid-media($Small) {

        &__part {
            width: 100%;
            height: inherit;
            min-height: 50vh;
            margin-right: 0;
            box-shadow: none;

            &:nth-child(n) {
                margin-right: 0;
                margin-bottom: $paddingMobile;
            }

            a {
                font-size: $font-size-large;
            }
        }

        // &__image {
        //     height: 30vh;
        //     overflow: hidden;
        // }

        &__text {
            height: inherit;
            min-height: calc(15vh - 2rem);
        }

        &__footer {
            height: $paddingMobile * 2.5;
        }
    }
}

.front-description {
    width: 100%;
    min-height: calc(100vh - (#{$sidebarPadding} + #{$headerHeight}) - #{$sidebarPadding});
    // display: flex;
    // flex-direction: row;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__title {
        width: 76%;
        // height: 20%;
        display: flex;
        align-items: center;
        margin-left: 12%;
    }

    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__slider {
        width: 100%;
        height: 25rem;
        display: block;
        background-color: $fourth;
        box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);
    }

    &__slogan {
        width: calc(100% - (#{$marginVert} * 2));
        height: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;
        margin-bottom: 0;
        padding: $marginVert;
        border-top: $border_heavy solid $primary;
        border-bottom: $border_heavy solid $primary;

        span {
            font-family: $heading-font;
            font-size: $font-size-h3 - 0.2;
            line-height: 1;
            color: $primary;

            &:before {
                content:"\f10e";
                font-family: fontawesome;
                font-size: $font-size-h3;
                position: absolute;
                top: 1rem;
                left: 0;
                color: $primary;
            }

            &:after {
                content:"\f10d";
                font-family: fontawesome;
                font-size: $font-size-h3;
                position: absolute;
                bottom: 1rem;
                right: 0;
                color: $primary;
            }
        }
    }

    &__text {
        width: calc(50% - #{$marginVert});
        height: 100%;
        display: block;
        margin-left: $marginVert;
    }

    @include grid-media($Small) {

        &__content {
            flex-direction: column;
        }

        &__left {
            width: 100%;
        }

        &__text {
            width: calc(100% - (#{$paddingMobile} * 2));
        }

        &__slider {
            height: 100vw;
        }

        &__slogan {
            width: calc(100% - (#{$paddingMobile} * 2));
            height: inherit;
            min-height: 12rem;
            margin: $paddingMobile;
            padding: 0;
        }

        &__text {
            width: calc(100% - (#{$paddingMobile} * 2));
            margin: 0;
            padding: 0 $paddingMobile;
        }
    }
}

/*=====  End of Front Content  ======*/


/*==================================
=            Front Text            =
==================================*/

// .front-text {
//     padding: 50px;
//     background-color: $bgColor;

//     &__block {
//         width: $frontTextWidth;
//         min-height: 5rem;
//         margin-left: $frontTextMargin;
//         margin-bottom: 3rem;

//         a {
//             font-family: $primary-font-bold;
//         }
//     }

//     ul {

//         li {
//             margin: 0 0 0 1.2rem;
//             list-style: square;
//         }
//     }

//     @include grid-media($Medium) {


//         &__block {
//             width: $frontTextWidthMedium;
//             margin-left: $frontTextMarginMedium;

//             h1 {
//                 font-size: $font-size-base + 1;
//             }
//         }
//     }

//     @include grid-media($XSmall) {


//         &__block {
//             width: $frontTextWidthXSmall;
//             margin-left: $frontTextMarginXSmall;
//         }
//     }

//     @include grid-media($Small) {
//         padding: 50px 1rem;
//     }
// }

/*=====  End of Front Text  ======*/
