/*==============================
=            Header            =
==============================*/
.header {
	width: 100%;
	height: $headerHeight;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $fourth;
	left: 0;
	top: 0;
	box-shadow: 0 1rem 2rem $fourth;
	z-index: 9000;

	&__top {
		width: calc(100% - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth}) - #{$navLinkPadding});
		height: $headerHeight / 2;
		display: flex;
		background-color: $fourth;
		position: relative;
		padding: 0 0 0 ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth + $navLinkPadding);
	}

	&__bottom {
		width: calc(100% - #{$sidebarPadding} - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth}));
		height: $headerHeight / 2;
		display: flex;
		background-color: $primary;
		position: relative;
		padding: 0 $sidebarPadding 0 ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth);
	}

	&__right {
		width: $headerRightWidth + 1rem;
		height: 100%;
		display: flex;
		flex-direction: row;
	}

	&-top {

		&__right {
			width: calc((#{$sidebarPadding} * 5) + 2rem);
			height: 100%;
			display: flex;
			flex-direction: row;
		}
	}

	&-bottom {

		&__right {
			width: $headerRightWidth + 2rem;
			height: 100%;
			display: flex;
			flex-direction: row;
		}
	}

	&-category {
		box-shadow: none;
	}

	&__address {
		width: calc(100% - ((#{$sidebarPadding} * 5) + 2rem));
		height: 100%;
		display: block;
		position: relative;

		ul {
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;

			li {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				position: relative;
				margin: 0 0.3rem;
				font-size: $font-size-small;
				color: $secondary;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	&__social {
		width: $headerSearchButton + 2;
		height: 100%;
		display: block;
		position: relative;

		ul {
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			li {
				width: calc(100% / 3);
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				position: relative;
				// margin: 0 0.3rem;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;

					i {
						color: $primary;
						font-size: $font-size-large + 0.2;
						transition: color 0.3s;
					}

					&:hover {
						i {
							color: $secondary;
						}
					}
				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&__shop {
		width: calc(#{$headerRightWidth} - 1rem);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		background-color: $colorCategoryTitle;
		padding: 0 0.5rem;
		font: {
			family: $heading-font;
			size: $font-size-base;
		};
		color: $secondary;
		line-height: 1;
		transition: all 0.3s;

		&:hover {
			background-color: darken($colorCategoryTitle, 10%);
			color: $third;
		}
	}

	&__nav {
		width: calc(100% - ((#{$sidebarPadding} * 3)));
		height: 100%;
		display: block;
		position: relative;
		// padding-right: $sidebarPadding;

		&--mobile {
			width: calc(100% - (#{$headerLogoWidthPhone} / 2) - (#{$paddingMobile} * 3));
			height: calc(100vh - #{$paddingMobile} - (#{$headerHeightMobile} / 2));
			display: none;
			align-items: center;
			top: 0;
			right: 0;
			padding: $paddingMobile 0 ($headerHeightMobile / 2) ($paddingMobile * 2);
			position: fixed;
			background-color: $third;
			overflow: auto;
			z-index: 9015;
			// visibility: hidden;
			// opacity: 0;
			transform: translateX(100%);

			ul {
				width: 100%;
				position: relative;

				li {
					margin: 0;
					padding: 0.15rem 1rem 0.15rem 0;
					border-top: $border_thin solid $primary;

					a {
						width: 100%;
						height: 100%;
						display: block;
					}

					&:first-child {
						border-top: none;
					}

					&.last {
						border-bottom: $border_normal solid $primary;
					}
				}

				&.submenu {

					li {
						border: none;
					}
				}
			}
		}
	}

	&-back {
		width: ($headerLogoWidthPhone / 2) + $paddingMobile;
		height: 100vh;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba($secondary, 0.6);
		z-index: 9004;
		opacity: 0;
		visibility: hidden;

		span {
			width: 30vh;
			height: ($headerLogoWidthPhone / 2) + $paddingMobile;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			left: 50%;
			color: $third;
			transform: translate(-50%, -50%) rotate(-90deg);
			transform-origin: 50% 50%;
		}
	}

	&__button {
		width: calc(50% - #{$headerLogoWidthPhone} - #{$paddingMobile});
		height: 100%;
		display: none;
		visibility: hidden;
		align-items: center;
		justify-content: center;
		position: relative;
		top: 0;
		padding-left: $headerLogoWidthPhone + $paddingMobile;
		cursor: pointer;
		z-index: 9000;

		.nav-button-line {
			width: 20%;
			height: $border_normal;
			background-color: $primary;
			position: absolute;
			// transition: transform 0.3s;

			&__top {
				transform: translate(0, -290%);
				transform-origin: 50% 50%;
			}

			&__middle {
				transform-origin: 50% 50%;
			}

			&__bottom {
				transform: translate(0, 290%);
				transform-origin: 50% 50%;
			}
		}

		// &:hover {

		// 	.nav-button-line {

		// 		&__top {
		// 			transform: translate(30%, 200%) rotate(135deg) scaleX(0.6);
		// 		}

		// 		&__middle {
		// 			transform: rotate(180deg);
		// 		}

		// 		&__bottom {
		// 			transform: translate(30%, -200%) rotate(-135deg) scaleX(0.6);
		// 		}
		// 	}
		// }
	}

	&__logo {
		width: $headerLogoWidth;
		height: auto;
		display: block;
		position: absolute;
		left: calc(#{$sidebarPadding} - (#{$headerLogoWidth} / 2));
		top: calc((#{$headerHeight} - (#{$headerHeight} / 4)) - (#{$headerLogoWidth} / 2));
		// transform: translate(50%,($headerHeight));
		z-index: 3;

		svg {
			width: $headerLogoWidth;
			height: auto;
		}
	}

	&__search {
		width: $headerSearchButton + 2rem;
		height: 100%;
		display: block;
		position: relative;
		cursor: pointer;

		svg {
			width: $headerHeight / 4;
			height: $headerHeight / 4;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

			path {
				fill: $third;
			}
		}

		&:hover {

			svg {

				path {
					fill: $fourth;
				}
			}
		}
	}

	&__minicart {
		width: $headerCartOuterWidth;
		height: 100%;
		display: block;
		position: relative;
		background-color: $navBackground;

		svg {
			width: $headerHeight / 4;
			height: $headerHeight / 4;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

			path {
				fill: none;
				stroke: $fourth;
				stroke-width: $border_normal;
				fill-rule: evenodd;
			}
		}
	}

	&__customer {
		// min-width: 10%;
		height: 50px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: absolute;
		left: 50px;
		top: 0;

		span {
			color: $primary;
			transition: color $base-duration;

			&.customer--desktop {
				font-size: $font-size-small;
			}

			&.customer--mobile {
				width: 50px;
				height: 50px;
				align-items: center;
				justify-content: center;
				display: none;
				visibility: hidden;

				&:before {
					margin-right: 0;
					font-size: $font-size-base;
					color: $primary;
				}
			}

			&:before {
				content:"\f007";
				font: {
					family: "fontawesome";
					size: $font-size-small;
				};
				color: lighten($primary, 30%);
				margin-right: 0.5rem;
				transition: color $base-duration;
			}

			&:hover {
				color: $primary;

				&:before {
					color: $primary;
				}
			}
		}
	}

	&__phone {
		// min-width: 10%;
		height: 50px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		right: 50px;
		top: 0;

		a {
			color: $primary;
		}
	}

	&__filter,
	&__info-nav {
		width: 100%;
		height: $headerHeightMobile / 1.5;
		justify-content: center;
		align-items: center;
		bottom: 0;
		left: 0;
		position: fixed;
		background-color: darken($navBackground, 15%);
		color: $fourth;
		font-size: 5vw;
		display: none;
		visibility: hidden;
		z-index: 9100;

		// &::before {
		// 	content:"\f0b0";
		// 	font: {
		// 		family: "fontawesome";
		// 		size: $font-size-large + 0.3;
		// 	};
		// 	color: $primary;
		// }
	}

	&-sidebar__top {
		width: calc(#{$sidebarWidth} - #{$sidebarPadding});
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		padding-left: $sidebarPadding;

		&-header {
			width: 100%;
			height: calc(#{$headerHeight} - #{$border_normal});
			border-bottom: $border_normal solid $third;
		}

		&-footer {
			width: 100%;
			height: calc(#{$headerFooterHeight} - #{$border_normal});
			border-bottom: $border_normal solid $third;
		}

		&-person {
			width: 40%;
			height: 100%;
			display: block;
			float: left;
			position: relative;

			.personIcon {
				clip-path: url(#clip-person);
			}

			svg {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);

				ellipse {
					fill: none;
					stroke: $fourth;
					stroke-width: $border_normal;
				}
			}

			span {
				position: absolute;
				top: 50%;
				left: 35%;
				transform: translateY(-50%);
				font-size: $font-size-small;
				color: $fourth;
			}
		}



		&-carticon {
			width: $sidebarPadding;
			height: 100%;
			display: block;
			position: relative;
			float: right;
			z-index: 2;
			cursor: pointer;
		}




	}

	&-device,
	&-device--pad {
		width: 100%;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $third;
		position: fixed;
		text-align: center;
		z-index: 9999;
		display: none;
		visibility: hidden;

		&__image {
			width: 6rem;
			display: block;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		span {
			font-size: $font-size-small;
		}
	}

	@include grid-media($XXLarge) {

		&__button {
			display: none;
			visibility: hidden;
		}

		&__nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($XLarge) {

		&__button {
			display: none;
			visibility: hidden;
		}

		&__nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($Large) {

		&__button {
			display: none;
			visibility: hidden;
		}

		&__nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($Medium) {
		width: calc(100% - #{$sidebarWidthMobile});
		height: $headerHeightMobile;

		&__social {
			width: calc(#{$headerSocialWidthMobile} - #{$sidebarPaddingMobile});
			padding-left: $sidebarPaddingMobile;

			ul {


				li {
						height: $headerHeightMobile;

					a {
						width: $headerHeightMobile / 2.5;
						height: $headerHeightMobile / 2.5;
					}
				}
			}
		}

		&__nav {
			width: calc(100% - #{$headerSocialWidthMobile} - #{$sidebarPaddingMobile});
			padding-right: $sidebarPaddingMobile;

			nav {

				ul {

					li {
						height: $headerHeightMobile;

						a {


							&.active {
								height: $headerHeightMobile - ($border_bold * 2);

								&:hover {
									height: $headerHeightMobile - ($border_bold * 2);
								}
							}
						}
					}
				}
			}
		}

		&__button {
			display: none;
			visibility: hidden;
		}

		&__nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&__logo {
			width: $headerLogoWidthMobile;
			transform: translate(50%,($headerHeightMobile));

			svg {
				width: $headerLogoWidthMobile;
			}
		}

		&-sidebar__top {
			width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});
			padding-left: $sidebarPaddingMobile;

			&-header {
				height: calc(#{$headerHeightMobile} - #{$border_normal});
			}

			&-footer {
				height: calc(#{$headerFooterHeightMobile} - #{$border_normal});
			}

			&-minicart {


				svg {
					width: $headerHeightMobile / 1.5;
					height: $headerHeightMobile / 1.5;
				}
			}

			&-carticon {
				width: $sidebarPaddingMobile;
			}

			&-address {
				width: calc(100% - #{$sidebarPaddingMobile});

				span {
					font-size: $font-size-small - 0.2;
					line-height: 1.2;
				}
			}

			&-search {
				width: $sidebarPaddingMobile;

				svg {
					width: $headerHeightMobile / 2;
					height: $headerHeightMobile / 2;
				}
			}
		}
	}

	@include grid-media($XSmall) {
		width: calc(100% - #{$sidebarWidthMobile});
		height: $headerHeightMobile;

		&__social {
			width: calc(#{$headerSocialWidthMobile} - #{$sidebarPaddingMobile});
			padding-left: $sidebarPaddingMobile;

			ul {


				li {
						height: $headerHeightMobile;

					a {
						width: $headerHeightMobile / 2.5;
						height: $headerHeightMobile / 2.5;
					}
				}
			}
		}

		&__nav {
			width: calc(100% - #{$headerSocialWidthMobile} - #{$sidebarPaddingMobile});
			padding-right: $sidebarPaddingMobile;

			nav {

				ul {

					li {
						height: $headerHeightMobile;

						a {


							&.active {
								height: $headerHeightMobile - ($border_bold * 2);

								&:hover {
									height: $headerHeightMobile - ($border_bold * 2);
								}
							}
						}
					}
				}
			}
		}

		&__button {
			display: flex;
			visibility: visible;
		}

		&__nav {

			&--desktop {
				display: none;
				visibility: hidden;
			}

			&--mobile {
				display: flex;
				visibility: visible;
			}
		}

		&__logo {
			width: $headerLogoWidthMobile;


			svg {
				width: $headerLogoWidthMobile;
			}
		}

		&-sidebar__top {
			width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});
			padding-left: $sidebarPaddingMobile;

			&-header {
				height: calc(#{$headerHeightMobile} - #{$border_normal});
			}

			&-footer {
				height: calc(#{$headerFooterHeightMobile} - #{$border_normal});
			}

			&-minicart {


				svg {
					width: $headerHeightMobile / 1.5;
					height: $headerHeightMobile / 1.5;
				}
			}

			&-carticon {
				width: $sidebarPaddingMobile;
			}

			&-address {
				width: calc(100% - #{$sidebarPaddingMobile});

				span {
					font-size: $font-size-small - 0.2;
					line-height: 1.2;
				}
			}

			&-search {
				width: $sidebarPaddingMobile;

				svg {
					width: $headerHeightMobile / 2;
					height: $headerHeightMobile / 2;
				}
			}
		}
	}

	@include grid-media($Small) {
		width: 100%;
		box-shadow: none;

		&__social {
			display: none;
			visibility: hidden;
		}

		&__top {
			width: 100%;
			padding-left: 0;
		}

		&__address {
			display: none;
			visibility: hidden;
		}

		&-top {

			&__right {
				width: 50%;
			}
		}

		&-bottom {

			&__right {
				width: 100%;
			}
		}

		&__nav {
			display: none;
			visibility: hidden;

			&--mobile {
				// width: calc(100% - #{$headerHeightMobile} - #{$sidebarPaddingMobile});
				// height: 100vh;
				z-index: 9005;
			}
		}

		&__shop {
			font-size: $font-size-small;
			text-align: center;
		}

		&__logo {
			width: $headerLogoWidthPhone;
			left: $paddingMobile;
			z-index: 9010;

			svg {
				width: $headerLogoWidthPhone;
			}
		}

		&__bottom {
			width: 100%;
			padding: 0;
		}

		&__right {
			width: 100%;
		}

		&__search {
			width: calc(50% - #{$headerLogoWidthPhone} - #{$paddingMobile});
			padding: 0;
			margin-left: ($headerLogoWidthPhone + $paddingMobile);

			// svg {
			// 	left: 75%;
			// }
		}

		&__minicart {
			width: 50%;
		}

		&-sidebar__top {
			width: $headerSidebarTopWidthPhone;
			padding: 0;

			&-header {
				width: $headerSidebarTopWidthPhone;
				height: $headerHeightMobile;
				border: none;
				background-color: $third;
			}

			&-footer {
				width: 100%;
				height: $headerHeightMobile;
				background-color: $secondary;
				border: none;
			}

			&-person {
				width: $headerSidebarTopWidthPhone;
				height: $headerHeightMobile;
				position: absolute;
				right: $headerSidebarTopWidthPhone;

				svg {


					ellipse {
						fill: none;
						stroke: $primary;
						stroke-width: $border_normal;
					}
				}

				span {
					display: none;
					visibility: hidden;
				}
			}

			&-minicart {
				float: right;
			}

			// &-carticon {

			// }

			&-address {
				display: none;
				visibility: hidden;
			}

			&-search {
				width: $headerSidebarTopWidthPhone;

				svg {
					left: inherit;
					right: 0.5rem;

					path {
						fill: $fourth;
					}
				}
			}
		}

		&__filter {
			display: flex;
			visibility: visible;
		}

		// &-device {
		// 	display: flex;
		// 	visibility: visible;

		// 	&--pad {
		// 		display: flex;
		// 		visibility: visible;
		// 	}
		// }
	}

	@include grid-media($XPortrait) {

		&-device {
			display: none;
			visibility: hidden;

			&--pad {
				display: flex;
				visibility: visible;
			}
		}
	}

	@include grid-media($Landscape) {

		&-device {
			display: flex;
			visibility: visible;

			&--pad {
				display: none;
				visibility: hidden;
			}
		}
	}
}

.nav {


	&-main {
		height: 100%;
		display: flex;
		flex-direction: row;

		li {
			height: $headerHeight / 2;
			// display: flex;
			// align-items: center;
			// padding: 0 $navLinkPadding;
			// transition: all $base-duration;

			a {
				width: calc(100% - (#{$navLinkPadding} * 2));
				height: 100%;
				display: flex;
				align-items: center;
				padding: 0 $navLinkPadding;
				font: {
					family: $heading-font;
				};
				color: $navLinkColor;
			}

			&:hover {
				background-color: $navBackground;

				a {
					color: $navColorHover;
				}
			}
		}

		.item-has-children {

			> a {

				svg#navCross {
					width: 0.5rem;
					height: 0.5rem;
					display: block;
					float: left;
					position: relative;
					margin-right: $marginVert / 5;
					// transform: translateY(100%);

					#navCrossVert {
						fill: none;
						stroke: $navLinkColor;
						stroke-width: 0.2rem;
						transform-origin: 50% 50%;
						transition: transform .2s;
					}

					#navCrossHorz {
						fill: none;
						stroke: $navLinkColor;
						stroke-width: 0.2rem;
						transform-origin: 50% 50%;
						transition: transform .2s;
					}
				}
			}

			ul.submenu {
				min-width: 10rem;
				position: absolute;
				top: $headerHeight / 2;
				// margin-left: -$navLinkPadding;
				background-color: $navBackground;
				box-shadow: 0 0.1rem 0.1rem rgba($third, 0.2);
				transition: all $base-duration;
				display: none;
				opacity: 0;

				li {
					width: 100%;
					height: $headerHeight / 2;
					display: flex;
					align-items: center;
					padding: 0;
					position: relative;
					cursor: pointer;
					transition: all $base-duration;

					ul.submenu {
						transform: translateX(100%);
					}

					a {
						// width: calc(100% - (#{$navLinkPadding} * 2));
						height: 100%;
						display: flex;
						align-items: center;
						position: relative;
						padding: 0 $navLinkPadding;
						color: $navLinkColor;
					}

					&.active {
						background-color: $navBackgroundHover;

						a {
							color: $navColorHover;
						}
					}

					&:hover {
						background-color: $navBackgroundHover;

						a {
							color: $navColorHover;
						}
					}
				}
			}

			&:hover {

				ul.submenu {
					display: block;
					color: $fourth;
					opacity: 1;
				}

				> a {

					svg#navCross {

						#navCrossVert {
							stroke: $navColorHover;
							transform: rotate(90deg);
						}

						#navCrossHorz {
							stroke: $navColorHover;
							transform: rotate(360deg);
						}
					}
				}
			}
		}

		&--mobile {
			padding: 0;

			.item-has-children {


				> a {
					color: $secondary;

					svg#navCross {
						width: 0.5rem;
						height: 0.5rem;
						display: block;
						float: right;
						position: relative;
						margin-left: $marginVert / 2;
						margin-top: 0.2rem;
						transform: translateY(20%);

						#navCrossVert {
							fill: none;
							stroke: $secondary;
							stroke-width: 0.2rem;
							transform-origin: 50% 50%;
							transition: transform .2s;
						}

						#navCrossHorz {
							fill: none;
							stroke: $secondary;
							stroke-width: 0.2rem;
							transform-origin: 50% 50%;
							transition: transform .2s;
						}
					}
				}

				// &:hover {
				//     > a {

				//         svg#navCross {

				//             #navCrossVert {
				//                 transform: rotate(90deg);
				//             }

				//             #navCrossHorz {
				//                 transform: rotate(360deg);
				//             }
				//         }
				//     }
				// }
			}

			ul.submenu {
				padding: 0 0 0.5rem;
				display: none;
				border-bottom: $border_thin solid $navLinkColor;
				//background-color: lighten($primary, 3%);

				li {


					a {
						font-size: $font-size-large - 0.2;
						padding: 0.15rem 0;
					}
				}

				@include grid-media($Small) {
					padding: 0.5rem 0;

					li {

						a {
							padding: 0.5rem 0;
						}
					}
				}
			}

			li {


				a {
					width: 100%;
					display: inline-block;
					line-height: 1rem;
					padding: 0.5rem 0 0.5rem;
					color: $secondary;
					font: {
						family: $heading-font;
						// size: $font-size-large;
					};
					transition: 0.3s ease-in-out;

					// .no-touch &:hover,
					// &:hover {
					//     //color: #FFF;
					//     //background-color: lighten($primary, 5%);
					//     //padding-left: 0.5rem;
					// }

					&.submenu-open {
						// background-color: $primary;
						// border-top: 0.15rem solid $filterBorderColor;

						.submenu {


							li {

								a {
									font-size: $font-size-large - 0.2;
								}

								// a.active {
								//     //color: $fourth;
								// }
							}
						}


						svg#navCross {

							#navCrossVert {
								transform: rotate(90deg);
							}

							#navCrossHorz {
								transform: rotate(360deg);
							}
						}

					}
				}

				// &.current, &.active {


				//     a {
				//     	//color: $fourth;
				//     }
				// }
			}
		}
	}
}
/*=====  End of Header  ======*/
