/*==============================
=            Layout            =
==============================*/

.wrapper {
	width: calc(100% - (#{$sidebarPadding} * 2));
	min-height: calc(100vh - (#{$headerHeight} * 2.5));
	display: block;
	padding: ($headerHeight * 1.5) $sidebarPadding $headerHeight $sidebarPadding;
	// margin-bottom: $footerHeight;
	position: relative;
	// margin-bottom: calc(300px + 4rem);
	background-color: $bgColor;
	//transition: all .3s;
	// box-shadow: 0 0.3rem 0.6rem rgba($five, 0.3);
	z-index: 1;
	// animation: fadeIn 0.3s ease-in-out;

	&-error {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&__number {
			width: 40%;
			min-height: 30vh;
			position: relative;

			svg {
				width: 100%;
				height: auto;
				stroke: lighten($secondary, 70%);
				stroke-width: 5;
				fill: none;
				padding: 1rem;
				transition-duration: 0.3s;
			}
		}

		&__text {
			width: 100%;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;

			h2 {
				font-size: $font-size-h1;
				animation: fadeIn 3s ease-in-out;
				//animation-delay: 2s;
			}
		}

		&__button {
			width: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			left: 0;
			top: 15vh;
			position: absolute;

			.button-back {
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid $primary;
				background-color: $secondary;
				overflow: hidden;
				transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

				&::after {
					content: '';
					//width: 100%;
					//height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					background-color: $primary;
					z-index: 1;
					//box-sizing: border-box;
					transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
					transform: scaleX(0);
					transform-origin: center right;
				}

				svg {
					fill: none;
					stroke: $primary;
					stroke-width: 6;
					z-index: 10;
					transition: all 0.3s;
				}

				&:hover {

					svg {
						stroke: $secondary;
						transform: translateX(-5px);
					}

					&::after {
						transform: scaleX(1);
						transition-delay: 0s;
					}
				}
			}
		}
	}

	&__breadcrumbs {

		ul {
			margin: 0;
			position: absolute;
			left: $sidebarPadding;
			color: $six;
			top: 0.5rem;

			li {
				font-size: $font-size-small;
				display: inline-block;
				margin: 0 0.15rem;

				span {
					color: $fourth;
				}

				a {
					color: $six;

					span {
						color: $six;
					}
				}
			}
		}
	}

	// &-front {
	// 	height: calc(100vh - 100px);
	// }

	&-info {
		width: calc(100% - #{$sidebarPadding} - #{$sidebarWidth} - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth} + 1rem));
		min-height: 100vh;
		display: block;
		padding: ($headerHeight + ($headerHeight / 2) + ($headerHeight / 4)) ($sidebarWidth + $sidebarPadding) $headerHeight ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth + 1rem);

		ul {
			margin-bottom: 1rem;

			&.with-disk {
				list-style: disc;
				padding-left: 1rem;
			}
		}

		h1 {
			margin-top: 0;
		}
	}

	&-contact {
		width: calc(100% - #{$sidebarPadding} - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth} + 1rem));
		min-height: 100vh;
		display: block;
		padding: ($headerHeight + ($headerHeight / 2) + ($headerHeight / 4)) $sidebarPadding $headerHeight ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth + 1rem);
	}

	%titleH1 {
		width: calc(100% - #{$sidebarWidth} - (#{$sidebarPadding} * 2));
		height: calc(#{$headerFooterHeight} - #{$border_normal});
		display: block;
		position: fixed;
		left: 0;
		top: $headerHeight;
		padding: 0 $sidebarPadding;
		background-color: $secondary;
		z-index: 8997;

		h1 {
			font-weight: 700;
			text-transform: uppercase;
			margin: 0;
			position: absolute;
			bottom: 0;
			left: $sidebarPadding;
			transform: translateY(17%);
		}

		@include grid-media($Medium) {
			width: calc(100% - #{$sidebarWidthMobile} - (#{$sidebarPaddingMobile} * 2));
			height: calc(#{$headerFooterHeightMobile} - #{$border_normal});
			top: $headerHeightMobile;
			padding: 0 $sidebarPaddingMobile;

			h1 {
				left: $sidebarPaddingMobile;
				transform: translateY(19%);
			}
		}

		@include grid-media($XSmall) {
			width: calc(100% - #{$sidebarWidthMobile} - (#{$sidebarPaddingMobile} * 2));
			height: calc(#{$headerFooterHeightMobile} - #{$border_normal});
			top: $headerHeightMobile;
			padding: 0 $sidebarPaddingMobile;

			h1 {
				left: $sidebarPaddingMobile;
				transform: translateY(19%);
			}
		}

		@include grid-media($Small) {
			width: calc(100% - #{$headerSidebarTopWidthPhone});
			height: $headerHeightMobile;
		}
	}

	&__title {
		@extend %titleH1;
		box-shadow: 0 1rem 2rem $fourth;

		h1 {
			color: $fourth;
		}
	}

	&-front {
		min-height: calc(100vh - ((#{$sidebarPadding} + #{$headerHeight}) * 2));
		padding: ($headerHeight + $sidebarPadding) $sidebarPadding;
		// margin-bottom: $footerHeight;

		&__title {
			width: calc(100% - (#{$headerHeight} * 2));
			// height: calc(#{$headerFooterHeight} - #{$border_normal});
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			text-align: center;
			padding: ($headerHeight / 4) $headerHeight;
			margin-top: 0;
			margin-bottom: 2rem;
			// background-color: $fourth;
			// box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);
			border-top: $border_normal dashed $primary;
			border-bottom: $border_normal dashed $primary;
			z-index: 5;

			// @include grid-media($XXLarge) {
			// 	display: none;
			// 	visibility: hidden;
			// }

			// @include grid-media($XLarge) {
			// 	display: none;
			// 	visibility: hidden;
			// }

			// @include grid-media($Large) {
			// 	display: none;
			// 	visibility: hidden;
			// }

			@include grid-media($Medium) {
				display: none;
				visibility: hidden;
			}

			@include grid-media($XSmall) {
				display: none;
				visibility: hidden;
			}

			@include grid-media($Small) {
				display: block;
				visibility: visible;
			}
		}
	}

	&-category {
		width: calc(100% - (#{$sidebarPadding} * 2) - #{$headerCartOuterWidth} - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth} + 1rem));
		min-height: calc(100vh - (#{$headerHeight} * 2.5));
        display: block;
		padding: ($headerHeight * 1.5) (($sidebarPadding * 2) + $headerCartOuterWidth) $headerHeight ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth + 1rem);
		margin-bottom: 0;

		&__title {
			@extend %titleH1;
			box-shadow: 0 1rem 2rem $six;

			h1 {
				color: $six;
			}
		}

		&--mobile {
			display: none;
			visibility: hidden;
		}

		#mse2_selected_wrapper {
			min-height: 0;
			margin: 0;
		}

		#mse2_selected {
			background: transparent;
			padding: $border_bold 0;
			border-radius: 0;

			strong {
				color: $primary;
				margin-left: 0.3rem;

				&:first-child {
					margin-left: 0;
				}
			}

			.mse2_selected_link {
				margin-right: 0.15rem;

				em {
					color: $secondary;
				}

				sup {
					// width: 1rem;
					// height: 1rem;
					display: inline-block;
					// background-color: $primary;
					color: $primary;
					padding: 0 0.2rem 0 0.1rem;
					margin-left: 0.15rem;
					border-radius: 50%;
				}
			}
		}
	}

	&-product {
		width: calc(100% - (#{$sidebarPadding} * 2) - #{$headerCartOuterWidth} - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth} + 1rem));
		min-height: calc(100vh - (#{$headerHeight} * 2.5));
        display: block;
		padding: ($headerHeight * 1.5) (($sidebarPadding * 2) + $headerCartOuterWidth) $headerHeight ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth + 1rem);
		margin-bottom: 0;

		&__title {
			@extend %titleH1;
			box-shadow: 0 1rem 2rem $six;

			h1 {
				color: $six;
			}
		}
	}

	&-news {
		// min-height: calc(100vh - (#{$headerHeight} * 2));
		// display: flex;
		// flex-direction: row;
		// padding-top: $headerHeight * 2;
		width: calc(100% - ((((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth} + 1rem) * 2));
		min-height: 200vh;
		display: block;
		padding: ($headerHeight * 2) ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth + 1rem) $headerHeight;
		margin-bottom: 0;
	}

	&-page {
		width: calc(100% - #{$sidebarPadding} - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth} + 1rem));
		min-height: calc(100vh - (#{$headerHeight} * 2));
		display: block;
		padding-top: $headerHeight * 2;
		padding-left: ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth + 1rem);
	}

	&-cart {
		width: calc(100% - (#{$sidebarPadding} * 2) - #{$headerCartOuterWidth});
		min-height: calc(100vh - (#{$headerHeight} * 2) - (#{$headerHeight} / 2));
		display: flex;
		flex-direction: row;
		padding-top: $headerHeight + ($headerHeight / 2);
		padding-right: 0;
		margin-bottom: 0;
	}

	&--visible {
		animation: translateIn 1.5s ease-in-out;
	}

	@include grid-media($Medium) {
		// width: calc(100% - #{$sidebarWidthMobile});
		// min-height: calc(100vh - #{$headerHeightMobile} - #{$headerFooterHeightMobile});
		// padding: calc(#{$headerHeightMobile} + #{$headerFooterHeightMobile}) 0 0;

		&__breadcrumbs {

			ul {
				top: 0.2rem;
				left: $sidebarPaddingMobile;
			}
		}

		&-front {
			min-height: calc(100vh - #{$headerHeightMobile});
			padding: #{$headerHeightMobile} 0 0;
		}

		&-category {
			padding-right: $sidebarWidthMobile;
		}

		&-product {
			width: 100%;
		}
	}

	@include grid-media($XSmall) {
		// width: calc(100% - #{$sidebarWidthMobile});
		// min-height: calc(100vh - #{$headerHeightMobile} - #{$headerFooterHeightMobile});
		// padding: calc(#{$headerHeightMobile} + #{$headerFooterHeightMobile}) 0 0;

		&__breadcrumbs {

			ul {
				top: 0.2rem;
				left: $sidebarPaddingMobile;
			}
		}

		&-front {
			min-height: calc(100vh - #{$headerHeightMobile});
			padding: #{$headerHeightMobile} 0 0;
		}

		&-category {
			padding-right: $sidebarWidthMobile;
		}

		&-product {
			width: 100%;
		}
	}

	@include grid-media($Small) {

		&-front {
			width: 100%;
			min-height: calc(100vh - (#{$headerHeightMobile} - #{$paddingMobile}));
			padding: ($headerHeightMobile + $paddingMobile) 0;

			&__title {
				width: calc(100% - (#{$paddingMobile} * 2));
				padding: $paddingMobile;
			}
		}

		&-category {
			width: calc(100% - (#{$paddingMobile} * 2));
			padding: 0 $paddingMobile;

			&--desktop {
				display: none;
				visibility: hidden;
			}

			&--mobile {
				display: block;
				visibility: visible;
			}
		}

		&-info {
			width: calc(100% - (#{$paddingMobile} * 2));
			padding: (($headerHeightMobile * 1.5) + $paddingMobile) $paddingMobile $paddingMobile;
		}

		&-news {
			width: 100%;
			padding: 0;
			min-height: 100vh;
		}

		&-contact {
			width: 100%;
			padding: (($headerHeightMobile * 1.5) + $paddingMobile) 0;
			min-height: 100vh;
		}

		&-product {
			width: 100%;
			padding: (($headerHeightMobile * 1.5) + $paddingMobile) 0 $paddingMobile;
		}

		&-cart {
			width: 100%;
			padding: (($headerHeightMobile * 2) + $paddingMobile) 0 ($headerHeightMobile / 2);
			flex-direction: column;
		}

		&-page {
			width: calc(100% - (#{$paddingMobile} * 2));
			padding: (($headerHeightMobile * 1.5) + $paddingMobile) $paddingMobile ($headerHeightMobile / 2);
			flex-direction: column;
		}
	}
}

.filled {
	fill: $primary;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes translateIn {
	from {
		transform: scale(0.7);
		opacity: 0
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

/*=====  End of Layout  ======*/


/*==================================
=            Arrow down            =
==================================*/

.arrow-down {
    width: 30px;
    height: 50px;
    display: block;
    // background-color: $secondary;
    // border: 2px solid $primary;
    // border-radius: 20px;
    //border-top-left-radius: 25px;
    //border-top-right-radius: 25px;
    position: absolute;
    margin-left: -5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: $sidebarPadding / 3;
    z-index: 999;
    animation: fadeIn 1.4s ease-in-out;

    // &:hover {
    //     //border-color: lighten(@brand-primary, 25%);
    // }

    svg {
        width: 30px;
	    height: 50px;
        padding: 5px;

        rect, polyline {
            fill: $primary;
        }

        #arrowDownMove {
        	stroke: $primary;
        	stroke-width: 5;
        	fill: none;
        	animation: arrow-down 0.6s infinite alternate ease-out;
        }
    }

    @include grid-media($Small) {
        visibility: hidden;
    }
}

@keyframes arrow-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4px);
    }
}

/*=====  End of Arrow down  ======*/