/*===============================
=            Default            =
===============================*/

/* Messages */

div.jGrowl > .ui-state-highlight {
    background: inherit;
    color: inherit;
    border: inherit;
}
// .ms2-message-success { background-color: green !important; }
// .ms2-message-error { background-color: brown !important; }
// .ms2-message-info { background-color: black !important; }

/* Logs */
.msProductsLog, .msGalleryLog, .msCartLog, .msOrderLog, .msGetOrderLog {
    width: 100%;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

/*=====  End of Default  ======*/


/*================================
=            miniCart            =
================================*/

.minicart {
	width: 100%;
	height: $headerHeight / 2;
	position: absolute;
	// padding: $sidebarPadding / 2;
	// background-color: $third;
	// top: 0;
	// right: 0;
	// z-index: 9001;
	// transform: translateX(100%);

	// .btn {
	// 	width: $sidebarPadding;
	// 	height: 100%;
	// 	display: block;
	// 	position: absolute;
	// 	right: 0;
	// }

	&__outer {
		width: calc((#{$headerCartOuterWidth} + #{$sidebarPadding}) - (#{$sidebarPadding} / 2));
		height: calc(100vh - #{$headerHeight} - ((#{$sidebarPadding} / 2) + (#{$sidebarPadding} / 4)) - (#{$sidebarPadding} / 4));
		display: flex;
		align-items: center;
		position: fixed;
		padding: (($sidebarPadding / 2) + ($sidebarPadding / 4)) ($sidebarPadding / 4) ($sidebarPadding / 4);
		background-color: $navBackground;
		top: $headerHeight;
		right: 0;
		z-index: 1;
		transform: translateX(100%);

		.full {
			width: 100%;
			height: 100%;
			display: block;
		}

		.not_empty {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&__dropdown {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
	}

	&__name {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		color: $third;
		font-family: $heading-font;
		// font-size: $font-size-small;
	}

	&__badge {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		// position: absolute;
		// background-color: $secondary;
		color: $fourth;
		// border-radius: 50%;
		font-size: $font-size-base;
		// right: $sidebarPadding - 1;
		// top: 45%;
		// transform: translate(50%, -50%);
		z-index: 10;

		// &--empty {
		// 	background-color: $third;
		// 	color: $third;
		// }
	}

	&__button {
		width: $sidebarPadding;
		height: $headerHeight / 2;
		// display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		// left: 0;
		right: 0;
		// background-color: $primary;
		color: $third;
		font-family: $heading-font;
		font-size: $font-size-base;
		// border-radius: 50%;
		transform: translate(120%, 0);
		// border: $border_normal solid $fourth;
		opacity: 0;
		display: none;
		z-index: 10;

		&:hover {
			background-color: $navBackgroundHover;
			color: $fourth;
		}
	}

	&__allcost {
		width: 100%;
		height: $sidebarPadding / 2;
		display: flex;
		flex-direction: row;
		justify-content: center;
		top: 0;
		right: 0;
		position: absolute;
		// border-top: $border_normal solid $primary;
		border-bottom: $border_normal solid $primary;

		&-inside {
			width: 50%;
			// height: 40%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: $font-size-base;
			font-family: $heading-font;
			color: $third;
		}
	}

	&__product {
		width: 100%;
		height: $minicartImageWidth;
		display: flex;
		flex-direction: row;
		// border-top: $border_normal solid $primary;
		// border-bottom: $border_normal solid $primary;
		background-color: $third;
		margin: 0.5rem 0;
		right: 0;

		&-media {
			width: $minicartImageWidth;
			height: $minicartImageWidth;
			display: flex;
			flex-direction: column;
		}

		&-image {
			width: $minicartImageWidth;
			height: $minicartImageWidth;
			display: block;
			overflow: hidden;
			background-color: $fourth;
			position: relative;

			img {
				width: 100%;
				height: auto;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&-description {
			width: calc(90% - #{$minicartImageWidth});
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		&-title {
			width: calc(100% - 1rem);
			height: calc(100% - (#{$minicartImageWidth / 3}));
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 0.5rem;

			h6 {
				color: $secondary;
				font-size: $font-size-small;
			}
		}

		&-cost {
			width: calc(100% - 1rem);
			height: $minicartImageWidth / 3;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $six;
			color: $secondary;
			padding: 0 0.5rem;
			// border-top: $border_normal solid $primary;
		}

		&-close {
			width: 10%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: lighten($third, 10%);
			cursor: pointer;

			.close {
				background-color: transparent;
				outline: none;
				border: none;
				color: $primary;
				cursor: pointer;

				span {
					font-size: $font-size-base;
				}
			}
		}

		&:first-child {
			margin-top: 0;
		}
	}

	@include grid-media($Medium) {
		height: calc(#{$headerHeightMobile} - #{$border_normal});

		.btn {
			width: $sidebarPaddingMobile;
		}

		&__outer {
			width: calc(#{$sidebarWidthMobile} - ((#{$sidebarPaddingMobile} / 4) + (#{$sidebarPaddingMobile} / 1.5)));
			height: calc(100vh - #{$sidebarPaddingMobile});
			padding: ($sidebarPaddingMobile / 2) ($sidebarPaddingMobile / 4) ($sidebarPaddingMobile / 2) ($sidebarPaddingMobile / 1.5);
		}

		&__badge {
			right: $sidebarPaddingMobile - 0.5;
		}

		&__button {
			right: $sidebarWidthMobile - 4;
		}

		&__allcost {
			width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});
			height: calc(#{$headerFooterHeightMobile} - #{$border_normal});
			top: $headerHeightMobile;
		}

		&__product {
			width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});

			&-cost {

				span {
					font-size: $font-size-small;
				}
			}
		}
	}

	@include grid-media($XSmall) {
		height: 100%;

		.btn {
			width: 100%;
		}

		// &__outer {
		// 	width: calc(#{$sidebarWidthMobile} - ((#{$sidebarPaddingMobile} / 4) + (#{$sidebarPaddingMobile} / 1.5)));
		// 	height: calc(100vh - #{$sidebarPaddingMobile});
		// 	padding: ($sidebarPaddingMobile / 2) ($sidebarPaddingMobile / 4) ($sidebarPaddingMobile / 2) ($sidebarPaddingMobile / 1.5);
		// }

		// &__badge {
		// 	right: $sidebarPaddingMobile - 0.5;
		// }

		// &__button {
		// 	right: $sidebarWidthMobile - 4;
		// }

		// &__allcost {
		// 	width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});
		// 	height: calc(#{$headerFooterHeightMobile} - #{$border_normal});
		// 	top: $headerHeightMobile;
		// }

		// &__product {
		// 	width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});
		// }
	}

	@include grid-media($Small) {

		&__outer {
			width: calc(100% - (#{$headerLogoWidthPhone} / 2) - (#{$paddingMobile} * 3));
			height: calc(100vh - #{$headerHeightMobile} - (#{$paddingMobile} * 6));
			top: $headerHeightMobile;
			padding: ($paddingMobile * 3) $paddingMobile;
		}

		&__button {
			width: calc(100% - (#{$headerLogoWidthPhone} / 2) - #{$paddingMobile});
			height: $headerHeightMobile / 1.5;
			position: fixed;
			bottom: 0;
			top: initial;
			background-color: darken($navBackground, 15%);
			color: $fourth;
			font-size: 5vw;
			transform: translate(100%, 0);
			transition: none;
		}
	}
}

/*=====  End of Minicart Content  ======*/

