/*============================
=            News            =
============================*/

.news {
    width: calc(100% - #{$headerRightWidth});
    min-height: 50vh;
    // display: flex;
    // flex-direction: column;
    overflow: auto;

    ul {
        height: 100%;
    }

    &__part {
        @include rowMachine(3, $marginVert);
        height: 50vh;
        box-shadow: $boxShadow;
    }

    &__image {
        width: 100%;
        height: 45%;
        display: block;
        position: relative;
        float: left;

        img {
            width: 100%;
            height: 100%;
			display: block;
			object-fit: cover;
			object-position: center;
        }
    }

    &__title {
        width: calc(100% - 1rem);
        height: 15%;
        display: flex;
        align-items: center;
        position: relative;
        background-color: $primary;
        padding-left: 1rem;
        transition: all 0.3s;

        h3 {
            color: $third;
            font-size: $font-size-large;
        }

        &:hover {

            h3 {
                color: $fourth;
            }
        }
    }

    &__text {
        width: calc(100% - 2rem);
        height: calc(33% - 2rem);
        display: block;
        float: left;
        position: relative;
        padding: 1rem;
        background-color: $fourth;
    }

    &__footer {
        width: 100%;
        height: 7%;
        display: flex;
        flex-direction: row;
        background-color: darken($third, 5%);
    }

    &__date {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: $primary;
            font-size: $font-size-small;
        }
    }

    &__link {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: darken($third, 10%);

        &:before {
            content:"\f054";
            font-family: "fontawesome";
            // font-size: $font-size-large;
            color: $primary;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: transform $base-duration;
        }

        &:hover {

            &:before {
                color: $secondary;
                transform: translate(0, -50%);
            }
        }
	}

	&-archive {
		width: calc(#{$headerRightWidth} - #{$sidebarPadding});
		min-height: 20vh;
		display: block;
		padding-left: $sidebarPadding;

		&__year {
			width: calc(100% - 2rem);
			display: block;
			padding: 1rem;
			background-color: $fourth;
			box-shadow: $boxShadow;
			margin-top: 0;
		}

		&__month {
			width: calc(100% - 2rem);
			display: block;
			position: relative;
			padding: 0.5rem 1rem;
			background-color: $primary;
			color: $third;
			margin-top: 1rem;

			span {
				height: 100%;
				padding: 0 1rem;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				top: 0;
				right: 0;
				background-color: $navBackground;
				color: $third;
			}
		}

		a {

			&:hover {
				color: $navBackground;
			}
		}
	}

	&-full {
		width: 100%;
		padding: 0;

		&__main {
			width: 100%;
			// height: 50vh;
			display: flex;
			flex-direction: row;
			position: relative;
		}

		&__gallery {
			width: 50%;
			height: 100%;
			// min-height: 50vh;
			background-color: $fourth;
			box-shadow: $boxShadow;
			position: relative;
		}

		&__image {
			width: 100%;
			min-height: 50vh;
			display: block;
			position: relative;
			float: left;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		&__descrition {
			width: calc(50% - 2rem);
			min-height: 50vh;
			padding-left: 2rem;
			padding-top: 3rem;
			position: relative;
		}

		&__title {
			width: 100%;
			display: block;
			border-bottom: $border_normal solid $primary;

			h3 {
				margin-top: 0;
				margin-bottom: 0.3rem;
			}
		}

		&__date {
			height: 2rem;
			display: flex;
			align-items: center;
			position: absolute;
			padding: 0 1rem 0 2rem;
			background-color: $primary;
			color: $third;
			font-size: $font-size-small;
			top: 0;
			left: 0;
			// right: (((((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth)) / 2) + $navLinkPadding);
		}

		&__text {
			margin-top: 1rem;
		}

		&__link {
			width: calc(#{$sidebarPadding} + (#{$headerLogoWidth} / 2));
			position: fixed;
			background-color: $primary;
			overflow: hidden;

			a {
				display: flex;
				flex-direction: row;
				align-items: center;
				font-size: $font-size-small;
				line-height: 1;
				color: $third;
				position: relative;
				transition: all 0.3s;

				&:hover {
					color: $fourth;
					background-color: $navBackground;
				}
			}

			&-prev {
				left: 0;
				top: 50%;
				transform: translateY(-50%);

				a {
					width: 100%;
					padding: 1rem 1rem 1rem 0;

					> span {
						width: calc(100% - 3rem);
						height: 100%;
					}

					&:before {
						content:"\f053";
						font-family: fontawesome;
						font-size: $font-size-large;
						color: $third;
						width: 2rem;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						transition: all 0.3s;
					}

					&:hover {

						&:before {
							color: $fourth;
							transform: translateX(-10%);
						}
					}
				}
			}

			&-next {
				right: 0;
				top: 50%;
				transform: translateY(-50%);

				a {
					width: 100%;
					padding: 1rem 0 1rem 1rem;
					text-align: right;

					> span {
						width: calc(100% - 3rem);
						height: 100%;
					}

					&:after {
						content:"\f054";
						font-family: fontawesome;
						font-size: $font-size-large;
						color: $third;
						width: 2rem;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						// transform: translateX(-10%);
						transition: all 0.3s;
					}

					&:hover {

						&:after {
							color: $fourth;
							transform: translateX(10%);
						}
					}
				}
			}

			&-up {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($XXLarge) {

		&__part {
			@include rowMachine(5, $marginVert);
		}
	}

	@include grid-media($XLarge) {

		&__part {
			@include rowMachine(4, $marginVert);
		}
	}

	@include grid-media($Small) {

		&__part {
			width: 100%;
			height: inherit;
			min-height: 50vh;
			margin-right: 0;
			box-shadow: none;

			&:nth-child(n) {
				margin-right: 0;
				margin-bottom: $paddingMobile;
			}

			a {
				font-size: $font-size-large;
			}
		}

		// &__image {
		//     height: 30vh;
		//     overflow: hidden;
		// }

		&__text {
			height: inherit;
			min-height: calc(15vh - 2rem);
		}

		&__footer {
			height: $paddingMobile * 2.5;
		}
	}
}

/*=====  End of News  ======*/

/*====================================
=            News Gridder            =
====================================*/


%gridder-arrow-before {
	content: "";
	width: 49px;
	height: 49px;
	display: block;
	background-size: cover;
	background-size: 50% 50%;
	top: 0;
	left: 0;
	padding: 12px;
	position: relative;
	z-index: 2;
	transition: all 0.3s;
}

%gridder-arrow-after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: lighten($secondary, 60%);
	z-index: 1;
	box-sizing: border-box;
	transition: transform 0.3s $ease-in-out-quad;
	transition-delay: 0.05s;
}

.projects {

	&-content {
		width: 100%;
		// min-height: 3rem;
		// transform: translateX(calc(25% - 1px));
	}

	&-gridder {
		// @include outer-container;
		// min-height: 100vh;
		display: block;
		//margin: 0;
		padding: 0;

		// @include media($XXLarge) {
		//     @include outer-container(1600px);
		// }

		// @include media($Medium) {
		//     padding: 0;
		// }

		// @include media($Small) {
		//     width: 100%;
		// }
	}

	@include grid-media($Medium) {

		&-content {
			width: 100%;
			transform: translateX(0);
		}
	}

	@include grid-media($Small) {

		&-content {
			width: 100%;
			transform: translateX(0);
		}
	}
}

.gridder {

	&-list {
		//@include span-columns(4);
		//@include omega(3n);
		// @include rowMachine(4, 1px);
		// width: calc(100% / 4);
		// height: 25vh;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		// display: flex;
		// align-items: center;
		// flex-direction: column;
		// justify-content: center;
		position: relative;
		transition: 0.5s $ease-out-expo;
		cursor: pointer;

		.inside-description {
			$numPerRowText: 4;
			$marginText: 1%;
			width: 100%;
			height: 5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// background-color: rgba(36,48,53,0.5);
			position: relative;
			padding: 0 1rem;
			box-sizing: border-box;
			transition: transform 0.4s $ease-out-expo;
			transition-delay: 0.25s;
			z-index: 10;

			h4 {
				// height: 30%;
				position: relative;
				color: #fff;
				text-align: center;
				margin: 0;
				// padding: 0 2rem;
				visibility: hidden;
				// z-index: 10;
				transition: transform 0.4s $ease-out-expo;
				transition-delay: 0.3s;
				transform: translateY(100%);
			}

			p {
				// height: 30%;
				position: relative;
				color: #fff;
				text-align: center;
				// margin: 0;
				// padding: 0 2rem;
				visibility: hidden;
				// z-index: 10;
				transition: transform 0.4s $ease-out-expo;
				transition-delay: 0.3s;
				transform: translateY(100%);
			}
		}

		@include grid-media($XXLarge) {
			// height: 500px;

			// h4 {
			//     font-size: $font-size-h3;
			// }

			&__img--xlarge {
				display: block;
				visibility: visible;
			}

			&__img--large {
				display: none;
				visibility: hidden;
			}

			&__img--small {
				display: none;
				visibility: hidden;
			}
		}

		@include grid-media($XLarge) {
			// height: 500px;

			// h4 {
			//     font-size: $font-size-h3;
			// }

			&__img--xlarge {
				display: block;
				visibility: visible;
			}

			&__img--large {
				display: none;
				visibility: hidden;
			}

			&__img--small {
				display: none;
				visibility: hidden;
			}
		}

		@include grid-media($Large) {
			// height: 500px;

			// h4 {
			//     font-size: $font-size-h3;
			// }

			&__img--xlarge {
				display: none;
				visibility: hidden;
			}

			&__img--large {
				display: block;
				visibility: visible;
			}

			&__img--small {
				display: none;
				visibility: hidden;
			}
		}

		@include grid-media($Medium) {
			@include rowMachine(6, 1px);
			height: 15vh;

			&__img--xlarge {
				display: none;
				visibility: hidden;
			}

			&__img--large {
				display: block;
				visibility: visible;
			}

			&__img--small {
				display: none;
				visibility: hidden;
			}
		}

		@include grid-media($XSmall) {
			// height: 500px;

			// h4 {
			//     font-size: $font-size-h3;
			// }

			&__img--xlarge,
			&__img--large {
				display: none;
				visibility: hidden;
			}

			&__img--small {
				display: block;
				visibility: visible;
			}
		}

		@include grid-media($Small) {


			&__img--xlarge,
			&__img--large {
				display: none;
				visibility: hidden;
			}

			&__img--small {
				display: block;
				visibility: visible;
			}
		}
	}

	&-show {
		width: 100%;
		display: block;
		float: left;
		position: relative;
		padding: 0;
		margin-bottom: 1em;

		// @include media($XSmall) {
		//     display: none !important;
		// }

		// @include media($Small) {
		//     display: none !important;
		// }
	}

	&-navigation {
		width: calc(((100% / 4) * 1) / 2);
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		flex-direction: row;
		background-color: $gridderBackground;
		transition: all 0.3s;
		z-index: 2;

		.gridder-nav {
			width: calc(100% / 3);
			height: 2rem;
			position: relative;
			// padding: 12px;
			//background-color: #fff;
			overflow: hidden;

			&.next {
				display: block;
				transition: all 0.3s;

				svg {
					width: 1rem;
					height: 1rem;
					fill: none;
					stroke: $gridderSVGColor;
					stroke-width: $gridderSVGWidth;
					top: 50%;
					left: 50%;
					margin-top: -0.5rem;
					margin-left: -0.5rem;
					position: absolute;
				}

				&::after {
					@extend %gridder-arrow-after;
					right: 100%;
					top: 0;
				}

				&:hover {
					transform: translateX(5px);

					svg {
						stroke: $gridderSVGColorHover;
					}
				}
			}

			&.prev {
				display: block;
				transition: all 0.3s;

				svg {
					width: 1rem;
					height: 1rem;
					fill: none;
					stroke: $gridderSVGColor;
					stroke-width: $gridderSVGWidth;
					top: 50%;
					left: 50%;
					margin-top: -0.5rem;
					margin-left: -0.5rem;
					position: absolute;
				}

				&::after {
					@extend %gridder-arrow-after;
					left: 100%;
					top: 0;
				}

				&:hover {
					transform: translateX(-5px);

					svg {
						stroke: $gridderSVGColorHover;
					}
				}
			}
		}

		.gridder-nav.background--light {
			border-color: #fff;
		}

		.gridder-nav.background--dark {
			border-color: $secondary;
		}

		.gridder-nav.background--complex {
			border-color: lighten($secondary, 50%);
		}

		.gridder-close {
			width: calc(100% / 3);
			height: 2rem;
			display: block;
			//padding: 14px;
			position: relative;
			//background-color: #fff;
			overflow: hidden;
			transition: all 0.3s;

			svg {
				width: 0.8rem;
				height: 0.8rem;
				fill: none;
				stroke: $gridderSVGColor;
				stroke-width: $gridderSVGWidth;
				top: 50%;
				left: 50%;
				margin-top: -0.4rem;
				margin-left: -0.4rem;
				position: absolute;
			}

			&::after {
				@extend %gridder-arrow-after;
				bottom: 100%;
				left: 0;
			}

			&:hover {
				transform: rotate(180deg);

				svg {
					stroke: $gridderSVGColorHover;
				}
			}
		}

		// @include media($XSmall) {
		//     display: none;
		// }

		// @include media($Small) {
		//     display: none;
		// }
	}

	&-content {
		display: none;

		&__image {
			width: 50%;
			min-height: 50vh;
			display: block;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		&__description {
			width: calc(50% - (#{$headerHeight} / 2));
			height: 100%;
			display: block;
			padding-left: $headerHeight / 2;
		}

		&__title {
			width: 100%;
			display: block;
			border-bottom: $border_normal solid $primary;

			// h3 {
			// 	margin-top: 0;
			// 	// margin-bottom: 0.3rem;
			// }
		}

		&__text {
			margin-top: 1rem;
			margin-bottom: $headerHeight / 2;
		}

		&__date {
			display: inline-block;
			position: absolute;
			padding: 0.45rem 1rem 0.45rem $headerHeight / 2;
			background-color: $primary;
			color: $third;
			font-size: $font-size-small;
			bottom: 0;
			left: 50%;
			// right: (((((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth)) / 2) + $navLinkPadding);
		}
	}

	&-expanded-content {
		animation-name: fadeIn;
		animation-duration: .5s;
		// animation-fill-mode: both;
		display: flex;
		flex-direction: row;
		border-bottom: $border_normal solid $primary;

		.inside-description {
			$numPerRowText: 3;
			$marginText: 1%;
			width: ((100% - (($numPerRowText - 1) * $marginText)) / $numPerRowText);
			min-height: 3rem;
			display: block;
			background-color: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 0 1rem 0 0;
		}
	}

	@include grid-media($Small) {

		&-navigation {
			width: calc((100% / 3) * 1);
		}

		&-content {

			&__image {
				width: 100%;
			}

			&__description {
				width: calc(100% - (#{$paddingMobile} * 2));
				height: inherit;
				min-height: 20vh;
				padding: $paddingMobile;
			}

			&__date {
				left: 0;
				padding-left: 1rem;
			}
		}

		&-expanded-content {
			flex-direction: column;
		}
	}
}

/*=====  End of News Gridder  ======*/

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-prev {
	left: 0;
	// background: url('images/controls.png') no-repeat 0 -32px;
	background: url('images/bx_prev.svg') no-repeat 50% 50%;
	background-size: 60% 60%;
	background-color: $secondary;
	// opacity: 0;
	// transform: translateX(-50%);
}
.bx-prev:hover,
.bx-prev:focus {
	background-position: 20% 50%;
}
.bx-next {
	right: 0;
	// background: url('images/controls.png') no-repeat -43px -32px;
	background: url('images/bx_next.svg') no-repeat 50% 50%;
	background-size: 60% 60%;
	background-color: $secondary;
	// opacity: 0;
	// transform: translateX(50%);
}
.bx-next:hover,
.bx-next:focus {
	background-position: 80% 50%;
}
.bx-controls-direction a {
	position: absolute;
	// top: 50%;
	bottom: 0;
	margin-top: -($marginVert / 2);
	outline: 0;
	width: $marginVert;
	height: $marginVert;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-controls-direction a.disabled {
	display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-controls-auto {
	text-align: center;
}
.bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url('images/controls.png') -86px -11px no-repeat;
	margin: 0 3px;
}
.bx-controls-auto .bx-start:hover,
.bx-controls-auto .bx-start.active,
.bx-controls-auto .bx-start:focus {
	background-position: -86px 0;
}
.bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url('images/controls.png') -86px -44px no-repeat;
	margin: 0 3px;
}
.bx-controls-auto .bx-stop:hover,
.bx-controls-auto .bx-stop.active,
.bx-controls-auto .bx-stop:focus {
	background-position: -86px -33px;
}

/*=====  End of Page content  ======*/