/*=============================
=            Order            =
=============================*/
/* Order */
#msOrder { margin-top: 0; }
#msOrder .radio { min-height: 30px; margin-bottom: 10px; }
#msOrder .radio img { max-height: 30px; margin-top: -2px; padding: 0 10px; }
#msOrder .required-star { display: none; }
#msOrder .required .required-star { display: inline; }

#msOrder .error {
	// border: 1px solid brown !important;
	background-color: $third;
}

#msOrder .required-star {
	color: $error;
}

.cart-order {
	width: calc(40% - #{$sidebarPadding});
	// min-height: 50vh;
	display: flex;
	// margin-bottom: $marginVert;
	// align-items: center;
	flex-direction: column;
	// align-items: center;
	position: relative;
	padding: 0;
	z-index: 10;

	&--end {
		width: calc(100% - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth}) - #{$navLinkPadding});
		min-height: calc(100vh - #{$headerHeight} - (#{$headerFooterHeight}) - (#{$sidebarPadding} / 1.2));
		padding: ($headerHeight / 4) 0 0 ($sidebarPadding + 1rem);
		flex-direction: column;
	}

	&__form {
		width: calc(100% - (#{$sidebarPadding} / 2));
		padding: ($headerHeight / 4) 0 ($headerHeight / 4) ($sidebarPadding / 2);

		&-block {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		&-group {
			width: 100%;

			%input {
				outline: none;
				margin-bottom: 1rem;
				font-family: $primary-font;
				font-size: $font-size-base;
				// text-align: center;
				border: $border_normal solid $primary;
				// border-top-left-radius: $inputHeight / 2;
				// border-bottom-left-radius: $inputHeight / 2;
				// border-top-right-radius: $inputHeight / 2;
				// border-bottom-right-radius: $inputHeight / 2;
				background-color: transparent;
				color: $primary;
				transition: all 0.3s;

				&:focus {
					background-color: $third;
					color: $secondary;
					border-color: $secondary;
				}

				&:focus::-webkit-input-placeholder {
					opacity: 0;
					transition: all 0.3s;
				}

				&:focus::-moz-placeholder {
					opacity: 0;
					transition: all 0.3s;
				}

				&:focus::-ms-input-placeholder {
					opacity: 0;
					transition: all 0.3s;
				}

				&::-webkit-input-placeholder {
					/* WebKit browsers */
					color: $primary;
				}

				&::-moz-placeholder {
					/* Mozilla Firefox 4 to 18 */
					color: $primary;
					opacity: 1;
				}

				&::-moz-placeholder {
					/* Mozilla Firefox 19+ */
					color: $primary;
					opacity: 1;
				}

				&::-ms-input-placeholder {
					/* Internet Explorer 10+ */
					color: $primary;
				}
			}

			input[type='text'],
			input[type='email'],
			input[type='number'] {
				width: calc(100% - 2rem - (#{$border_normal} * 2));
				height: $inputHeight;
				padding: 0 1rem;
				@extend %input;
			}

			select {
				width: calc(100% + 0.3rem);
				height: calc(#{$inputHeight} - 0.3rem);
				padding: 0;
				@extend %input;
			}

			textarea {
				width: calc(100% - 2rem - (#{$border_normal} * 2));
				height: $inputHeight * 2;
				padding: 0.5rem 1rem;
				@extend %input;
			}
		}

		&-delivery {
			width: calc(100% - (#{$sidebarPadding} / 2));
			padding: ($headerHeight / 4) 0 ($headerHeight / 4) ($sidebarPadding / 2);

			&-block {
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			&-group {
				width: 100%;

				%input {
					outline: none;
					margin-bottom: 1rem;
					font-family: $primary-font;
					font-size: $font-size-base;
					// text-align: center;
					border: $border_normal solid $primary;
					// border-top-left-radius: $inputHeight / 2;
					// border-bottom-left-radius: $inputHeight / 2;
					// border-top-right-radius: $inputHeight / 2;
					// border-bottom-right-radius: $inputHeight / 2;
					background-color: transparent;
					color: $primary;
					transition: all 0.3s;

					&:focus {
						background-color: $third;
						color: $secondary;
						border-color: $secondary;
					}

					&:focus::-webkit-input-placeholder {
						opacity: 0;
						transition: all 0.3s;
					}

					&:focus::-moz-placeholder {
						opacity: 0;
						transition: all 0.3s;
					}

					&:focus::-ms-input-placeholder {
						opacity: 0;
						transition: all 0.3s;
					}

					&::-webkit-input-placeholder {
						/* WebKit browsers */
						color: $primary;
					}

					&::-moz-placeholder {
						/* Mozilla Firefox 4 to 18 */
						color: $primary;
						opacity: 1;
					}

					&::-moz-placeholder {
						/* Mozilla Firefox 19+ */
						color: $primary;
						opacity: 1;
					}

					&::-ms-input-placeholder {
						/* Internet Explorer 10+ */
						color: $primary;
					}
				}

				input[type='text'],
				input[type='email'],
				input[type='number'] {
					width: calc(100% - 2rem - (#{$border_normal} * 2));
					height: $inputHeight;
					padding: 0 1rem;
					@extend %input;
				}

				select {
					width: calc(100% + 0.3rem);
					height: calc(#{$inputHeight} - 0.3rem);
					padding: 0;
					@extend %input;
				}

				textarea {
					width: calc(100% - 2rem - (#{$border_normal} * 2));
					height: $inputHeight * 2;
					padding: 0.5rem 1rem;
					@extend %input;
				}
			}
		}
	}

	&__choice {
		width: calc(100% - (#{$sidebarPadding} / 2));
		padding: 0 0 0 ($sidebarPadding / 2);
	}

	&__payments {
		margin-bottom: $inputHeight;

		h4 {
			margin-top: 0;
		}
	}

	&__total {
		width: $headerCartOuterWidth / 2;
		height: ($headerHeight / 2) + ($headerHeight / 4);
		display: flex;
		align-items: center;
		position: fixed;
		top: $headerHeight;
		right: 0;
		font-family: $heading-font;
		font-size: $font-size-large;
		color: $secondary;
	}

	&__submit {
		width: calc((#{$headerCartOuterWidth} + #{$sidebarPadding}));
		height: $sidebarCartButtonWidth;
		display: flex;
		align-items: center;
		justify-content: center;
		// border-radius: 50%;
		outline: none;
		border: none;
		padding: 0;
		position: fixed;
		font-family: $heading-font;
		font-size: $font-size-large;
		color: $third;
		background-color: $primary;
		cursor: pointer;
		top: $headerHeight + ($headerHeight / 2) + ($headerHeight / 4);
		right: 0;
		// margin-left: $sidebarPadding;
		// padding: $marginVert;
		// box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);
		transition: all 0.3s;
		z-index: 8996;

		// &:before {
		// 	content: "+";
		// 	width: 2rem;
		// 	height: 2rem;
		// 	display: block;
		// 	font-size: 3rem;
		// 	line-height: 0.5;
		// 	color: $fourth;
		// 	border-radius: 50%;
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%, -50%);
		// 	// opacity: 0;
		// 	transition: transform 0.3s;
		// }

		// svg {
		// 	width: $headerHeight / 1.5;
		// 	height: $headerHeight / 1.5;
		// 	display: block;
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%,-50%);

		// 	path {
		// 		fill: none;
		// 		stroke: $fourth;
		// 		stroke-width: $border_normal;
		// 		fill-rule: evenodd;
		// 	}
		// }

		&:hover {
			color: $fourth;
			background-color: $navBackground;

			svg#productCartFull {

				#productCart {
					fill: $secondary;
				}

				#productCartAdd {
					fill: $secondary;
					transform: translateY(0);
				}
			}
		}
	}

	@include grid-media($Small) {
		width: calc(100% - (#{$paddingMobile} * 2));
		padding: 0 $paddingMobile;

		&__total {
			width: 100%;
			height: $headerHeightMobile / 2;
			top: $headerHeightMobile * 1.5;
			background-color: rgba($bgColor, 0.9);
			justify-content: center;
		}

		&__submit {
			top: initial;
			bottom: 0;
			background-color: $navBackground;
		}

		&__form {
			width: 100%;
			padding: 0;
		}

		&__choice {
			width: 100%;
			padding: 0;
		}
	}
}

.order-content {
	width: calc(100% - (#{$sidebarPadding} * 2));
	// min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// background-color: $primary;
	color: $cartTextColor;
	position: relative;
	padding: ($sidebarPadding / 2) $sidebarPadding;
	overflow: hidden;

	.order-table {
		width: 100%;
		min-height: 8rem;
		display: flex;
		flex-direction: row;
		margin: 1rem 0;
		// background-color: $fourth;
		// border: $cartTableBorder solid $cartTableBorderColor;
		// border-right: none;

		&__image {
			width: 15%;
			height: 8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border: $cartTableBorder solid $cartTableBorderColor;
			background-color: $fourth;
			overflow: hidden;

			a {
				width: 100%;
				height: 8rem;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				img {
					width: auto;
					height: 100%;
				}
			}
		}

		&__product {
			width: 70%;
			height: 8rem;
			display: flex;
			flex-direction: column;
			border: $cartTableBorder solid $cartTableBorderColor;
			border-left: none;
			// background-color: $fourth;

			.product {
				width: 100%;
				height: 100%;

				&__title {
					width: calc(100% - 2rem);
					// height: calc(100% - (#{$cartVertPaddind} * 2));
					height: 50%;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					// padding: $cartVertPaddind 1rem;
					padding: 0 1rem;
					border-bottom: $cartTableBorder solid $cartTableBorderColor;

					a {
						color: $cartTextColor;
						font-family: $heading-font;
						font-size: $font-size-large;
					}
				}

				&__vendor {
					width: calc(100% - 2rem);
					height: calc(100% - (#{$cartVertPaddind} * 2));
					height: 50%;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					padding: $cartVertPaddind 1rem;
					padding: 0 1rem;

					span {
						font-family: $heading-font;
						font-size: $font-size-large;
					}
				}
			}
		}

		&__count {
			width: 15%;
			height: 8rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border: $cartTableBorder solid $cartTableBorderColor;
			border-left: none;

			span {
				width: 100%;
				height: 25%;
				display: flex;
				justify-content: center;
				font-family: $heading-font;
				font-size: $font-size-large;

				&.count {
					align-items: flex-start;
				}

				&.price {
					align-items: flex-end;
				}
			}
		}
	}

	@include grid-media($Medium) {


	}

	@include grid-media($XSmall) {


	}

	@include grid-media($Small) {

	}
}

@keyframes pulse {
	0% {
		transform: rotate(45deg) scale3d(1, 1, 1);
	}

	50% {
		transform: rotate(45deg) scale3d(1.15, 1.15, 1.15);
	}

	100% {
		transform: rotate(45deg) scale3d(1.05, 1.05, 1.05);
	}
}

@keyframes pulseOut {
	0% {
		transform: rotate(45deg) scale3d(1, 1, 1);
	}

	50% {
		transform: rotate(45deg) scale3d(0.95, 0.95, 0.95);
	}

	100% {
		transform: rotate(45deg) scale3d(1, 1, 1);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(45deg) scale3d(1, 1, 1);
	}

	100% {
		transform: rotate(225deg) scale3d(1.05, 1.05, 1.05);
	}
}

/*=====  End of Order  ======*/
