/*====================================
=            Page Content            =
====================================*/

.page {

    &-section {
		width: 100%;
		min-height: 50vh;
		display: block;
		position: relative;
		overflow: auto;
		margin-bottom: $sidebarPadding;

		&__top {
			width: 100%;
			display: flex;
			flex-direction: row;

			&-short {
				width: calc(100% - #{$headerCartOuterWidth} - #{$sidebarPadding});

				.page-section__title {
					width: 100%;
				}
			}
		}

		&__title {
			width: calc(100% - #{$headerCartOuterWidth} - #{$sidebarPadding});
			height: $sidebarPadding;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			text-align: center;
			padding: 0;
			margin-top: 0;
			margin-bottom: 2rem;
			// background-color: $fourth;
			// border-top-left-radius: $inputHeight / 4;
			// border-bottom-left-radius: $inputHeight / 4;
			// border-top-right-radius: $inputHeight / 4;
			// border-bottom-right-radius: $inputHeight / 4;
			border-top: $border_normal dashed $primary;
			border-bottom: $border_normal dashed $primary;
			// box-shadow: $boxShadow;
			z-index: 5;

			h2 {
				margin: 0;
			}
		}

		&__link {
			width: $headerCartOuterWidth;
			height: $sidebarPadding;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			background-color: $primary;
			color: $third;
			font-family: $heading-font;
			font-size: $font-size-large;
			margin-left: $sidebarPadding;
			border-top-left-radius: $inputHeight / 4;
			border-bottom-left-radius: $inputHeight / 4;
			border-top-right-radius: $inputHeight / 4;
			border-bottom-right-radius: $inputHeight / 4;
			transition: all 0.3s;

			&:hover {
				background-color: $navBackground;
				color: $fourth;
			}
		}

		&__gallery {
			width: 100%;
			min-height: 20vh;
			display: flex;
			flex-direction: row;
			// margin-top: 2rem;

			figure {
				@include rowMachine(3, 2rem);
				// height: 20rem;
				margin: 0;
				padding: 0;

				a {
					width: 100%;
					// height: 100%;
					display: block;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-fit: cover;
						object-position: center;
					}
				}

				figcaption {
					display: none;
				}

				&:hover {
					box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.6);
				}
			}
		}

		&__tabs {
			width: $headerCartOuterWidth;
			margin-left: $sidebarPadding;

			&-content {
				width: calc(100% - #{$headerCartOuterWidth} - #{$sidebarPadding});
				min-height: 10vh;
				display: none;
				// flex-wrap: wrap;
				// border-right: $border_normal solid $primary;
				animation: 1s fadeIn;

				&.active {
					display: block;
				}
			}
		}

		&__content {
			width: calc(100% - #{$headerCartOuterWidth} - #{$sidebarPadding});
			min-height: 10vh;
			display: block;
		}

		&__tab {
			width: 100%;
			height: $sidebarPadding;
			background-color: $third;
			margin-bottom: $marginVert / 2;
			text-align: center;
			border-top-left-radius: $inputHeight / 4;
			border-bottom-left-radius: $inputHeight / 4;
			border-top-right-radius: $inputHeight / 4;
			border-bottom-right-radius: $inputHeight / 4;
			position: relative;

			a {
				width: calc(100% - #{$marginVert});
				height: calc(#{$sidebarPadding} - #{$marginVert});
				display: block;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: $marginVert / 2;
				font-family: $heading-font;
				font-size: $font-size-large;
				line-height: 1;
				color: $primary;
				// border-top-left-radius: $inputHeight / 4;
				// border-bottom-left-radius: $inputHeight / 4;
				border-top-right-radius: $inputHeight / 4;
				border-bottom-right-radius: $inputHeight / 4;
			}

			&.active {
				background-color: $primary;
				color: $third;

				a {
					background-color: $primary;
					color: $third;
				}

				&:before {
					content: "";
					width: 0;
					height: 0;
					border-top: ($sidebarPadding / 2) solid transparent;
					border-right: ($sidebarPadding / 3) solid $primary;
					border-bottom: ($sidebarPadding / 2) solid transparent;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(-100%, -50%);
				}
			}
		}

		@include grid-media($XXLarge) {

			&__gallery {

				figure {
					@include rowMachine(5, 2rem);
				}
			}
		}

		@include grid-media($XLarge) {

			&__gallery {

				figure {
					@include rowMachine(4, 2rem);
				}
			}
		}

		@include grid-media($Medium) {

			&__gallery {

				figure {
					@include rowMachine(2, 1rem);
				}
			}
		}
	}

	&-gallery {
		width: 100%;
		min-height: 50vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		overflow: auto;
		margin-bottom: $sidebarPadding;
		padding: 1.5rem 0;

		&__title {
			width: 100%;
		}

		&__content {
			width: 100%;
			min-height: 20vh;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 1.5rem;
		}

		&__gallery {
			width: 100%;
			min-height: 20vh;
			display: flex;
			flex-direction: column;
			// margin-top: 2rem;

			figure {
				@include rowMachine(3, 2rem);
				// height: 20rem;
				margin: 0;
				padding: 0;

				a {
					width: 100%;
					height: 100%;
					display: block;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-fit: cover;
						object-position: center;
					}
				}

				figcaption {
					display: none;
				}

				&:hover {
					box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.6);
				}
			}
		}

		&__images {
			width: 100%;
			min-height: 20vh;
			flex-wrap: wrap;
		}

		@include grid-media($XXLarge) {

			&__gallery {

				figure {
					@include rowMachine(5, 2rem);
				}
			}
		}

		@include grid-media($XLarge) {

			&__gallery {

				figure {
					@include rowMachine(4, 2rem);
				}
			}
		}

		@include grid-media($Medium) {

			&__gallery {

				figure {
					@include rowMachine(2, 1rem);
				}
			}
		}

		@include grid-media($Small) {
			padding-top: $headerHeightMobile * 1.5;

			&__gallery {


				figure {
					@include rowMachine(1, 1rem);
				}
			}
		}
	}

	@include grid-media($Small) {

		&-section {

			&__top {
				flex-direction: column;
				margin-bottom: $paddingMobile;
			}

			&__title {
				width: 100%;
				margin-bottom: $paddingMobile;

				// h1 {
				// 	line-height: 0.7;
				// }
			}

			&__link {
				width: 100%;
				margin-left: 0;
			}
		}
	}
}

.section {

	&-contact {
		width: 100%;
		min-height: 40vh;
		display: flex;
		flex-direction: row;
		border-bottom: $border_normal solid $primary;
		// padding-bottom: 1rem;
		margin-bottom: $headerHeight / 2;

		&__map {
			width: calc(100% - #{$headerCartOuterWidth} - #{$sidebarPadding});
			// min-height: 30vh;
			display: block;
			overflow: hidden;
			padding-right: $sidebarPadding;
			position: relative;
			z-index: 2;

			span {
				font-size: $font-size-small;
				text-align: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}

		&__adress {
			width: $headerCartOuterWidth;
			height: 100%;
			display: block;

			h3 {
				font-size: $font-size-h5;
				margin-top: 0;
			}

			h4 {
				margin-bottom: 0.3rem;
			}

			ul {
				margin-bottom: 1rem;
			}

			a {

				&:hover {
					color: $secondary;
				}
			}
		}
	}

	@include grid-media($Small) {

		&-contact {
			flex-direction: column;

			&__map {
				display: none;
				visibility: hidden;
			}

			&__adress {
				width: calc(100% - (#{$paddingMobile} * 2));
				padding: 0 $paddingMobile;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*=====  End of Page Content  ======*/
