/*==========================================
=            Preloader TweenMax            =
==========================================*/
$preloaderBackrgoundColor :  $fourth;
$preloaderTextColor       :  $primary;
$preloaderProgressColor   :  $primary;

body.noscroll {
	min-height: 100vh;
	overflow: hidden;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $preloaderBackrgoundColor;
    color: $preloaderTextColor;
    z-index: 9999;

    .txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .txt-perc {
        font-size: 35px;
        font-family: $heading-font;
        opacity: 1;
        margin: 0 0 6px 0;
        max-width: 400px;
        text-align: center;
    }

    .progress {
        width: 400px;
        height: 10px;
        background-color: rgba($preloaderProgressColor, 0.3);
        margin: 0 auto 15px auto;
        // transform: rotate(180deg);
        // transform-origin: 0 100%;

        span {
            display: block;
            width: 0;
            height: 100%;
            background-color: $preloaderProgressColor;
        }
    }

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
    }
}

.is-loading {
    overflow: hidden;
}

/*=====  End of Preloader TweenMax  ======*/