/*===============================
=            Product            =
===============================*/

/* Product */
.ms2_product { margin-bottom: 0.5rem; }
// .ms2_product .price {
// 	padding-left: 50px;
// 	padding-right: 30px;
// }
.ms2_product .old_price { padding-right: 0; }
.ms2_product .tags, .ms2_product .color, .ms2_product .size { padding-right: 20px; font-size: 0.9em; }
@media (min-width: 768px) {
    // #msProduct .input-sm { max-width: 50%; }
}

#msProduct .old_price, #msCart .old_price, .ms2_product .old_price {
	color: $primary;
    font-style: italic;
    text-decoration: line-through;
}

.product-content {
	width: 100%;
	min-height: calc(100vh - (#{$headerHeight} * 1.5));
	display: flex;
	flex-direction: row;
	position: relative;
	z-index: 8996;

	&__gallery {
		width: 50%;
		// height: calc(100vh - (#{$headerHeight} * 2) - (#{$headerHeight} * 1.5));
		// display: flex;
		// justify-content: center;
		// align-items: center;
		// background-color: $secondary;
		padding: ($headerHeight / 4) 0;
		position: relative;
		// overflow: hidden;

		#msGallery {
			width: 100%;
			min-height: 50vh;
			display: block;
			position: relative;
			overflow: hidden;
			// padding-bottom: $sidebarPadding;
			// box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);
		}

		img {
			width: 100%;
			height: auto;
			display: block;
			// left: 50%;
			// top: 50%;
			// position: absolute;
			// transform: translate(-50%, -50%);
			// box-shadow: 0 0.125rem 1.25rem rgba($bgShadow, 0.15);
		}
	}

	&__description {
		width: calc(50% - #{$sidebarPadding});
		height: calc(100vh - (#{$headerHeight} / 2));
		// left: 50%;
		display: flex;
		flex-direction: column;
		// align-items: center;
		// justify-content: center;
		// background-color: $primary;
		// color: $colorTextOnBlack;
		position: relative;
		padding: ($headerHeight / 4) 0 ($headerHeight / 4) $sidebarPadding;

		.content-description {

			&__map {
				width: 100%;
				min-height: 0;
				text-align: center;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;

				p {
		            color: lighten($primary, 50%);
		            margin: 0;
		            position: absolute;
		            z-index: 0;
		        }
			}

			&__text {
				width: 100%;
				min-height: calc(50vh - 100px - 6rem);
				padding: 3rem 5rem;
				display: flex;
				flex-direction: column;
				// align-items: center;
				justify-content: center;
			}
		}

		h1 {
			font-size: $font-size-h3;
			margin-top: 0;
		}
	}

	&__options {
		width: 100%;
		// height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		// justify-content: center;
		// background-color: $primary;
		color: $five;
		position: relative;
		// padding-left: $sidebarPadding;
		margin-bottom: 1rem;

		h1 {
			width: 100%;
			border-bottom: $border_normal solid $primary;
			padding-bottom: 1rem;
		}

		.options {

			&-header {
				width: 100%;
				height: calc(45vh - 50px);
				display: flex;
				flex-direction: column;
				justify-content: center;

				&__breadcrumbs {

					ul.breadcrumb {
						width: 100%;
						height: 2rem;
						display: flex;
						flex-direction: row;
						align-items: center;
						margin: 1rem 0;

						li {
							background-color: $primary;
							z-index: 1;

							a {
								font-size: $font-size-small;
								height: 2rem;
								display: flex;
								align-items: center;
								// justify-content: center;
								color: $colorBreadrumbs;
								background-color: $primary;
								// border: 0.15rem solid $colorBorderBreadrumbs;
								// padding: 0.5rem 1rem;
								transition: all 0.3s;

								&:hover {
									color: $colorBreadrumbsHover;
									border-color: $colorBorderBreadrumbsHover;
									// transform: translateY(-10%);
								}
							}
						}

						// &:before {
						// 	content: "";
						// 	width: 50%;
						// 	height: 0.15rem;
						// 	background-color: $colorBorderBreadrumbs;
						// 	position: absolute;
						// 	transform: translateY(1rem);
						// 	z-index: 0;
						// }
					}

					.breadcrumbs-arrow {
						width: 1rem;
						height: 1rem;
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						// background-color: $secondary;
						margin-top: -1rem;
						padding: 0.5rem;
						transform: translate(0, -100%) rotate(-45deg);
						transition: all 0.3s;
						opacity: 0;

						svg {
							width: 1rem;
							height: 1rem;

							polyline,
							line {
								fill: none;
								stroke-width: 3;
								stroke: $secondary;
							}
						}
					}

					&:hover {

						.breadcrumbs-arrow {
							transform: translate(-120%, -100%) rotate(-45deg);
							opacity: 1;
						}
					}
				}

				&__vendor {

					a {
						color: $colorBreadrumbs;

						&:hover {
							color: $colorBreadrumbsHover;
						}
					}
				}

				&__title {
					width: calc(100% - #{$sidebarCartButtonWidth});
					// height: 30%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					padding-right: $sidebarCartButtonWidth;

					h1 {
						color: $colorTextOnBlack;
						font-size: $font-size-h1;
						text-align: left;
					}

					h2 {
						color: $colorTextOnBlack;
						font-size: $font-size-large;
						text-align: left;
					}

					h3,h4 {
						color: $colorTextOnBlack;
					}

					span {
						font-size: $font-size-large;
						color: $colorTextOnBlack;
					}
				}
			}

			&-content {
				width: 100%;
				min-height: 50vh;
				display: flex;
				flex-direction: column;
				// justify-content: center;

				&__top {
					width: 100%;
					// height: 10vh;
					height: 5.5rem;
					display: flex;
					flex-direction: row;
					align-items: center;
					// background-color: lighten($primary, 70%);
					border-top: 0.15rem solid $colorBreadrumbs;
					border-bottom: 0.15rem solid $colorBreadrumbs;
					z-index: 110;

					.product-count {
						width: 30%;
						height: 50%;
						display: flex;
						flex-direction: row;
						align-items: center;
						position: relative;

						input {
							width: 60%;
							height: 2rem;
							color: $colorTextOnBlack;
							background-color: transparent;
							border: none;
							outline: none;
							text-align: center;
							font-size: $font-size-large;
						}

						&__input {
							width: 70%;
							// height: 100%;
							display: flex;
							flex-direction: row;
							align-items: center;
							position: relative;
						}

						&__unit {
							width: 30%;
							height: 100%;
							display: flex;
							align-items: center;
						}

						&__up {
							width: 2rem;
							height: 2rem;
							display: flex;
							align-items: center;
							justify-content: center;
							// position: absolute;
							top: 0;
							right: 0;
							z-index: 2;
							background-color: $primary;
							outline: none;
							border: 0.15rem solid $colorBreadrumbs;
							padding: 0;
							transition: all 0.3s;
							cursor: pointer;
							border-radius: 0;
							// transform: rotate(45deg);
							// transform-origin: 50% 50%;

							svg {
								width: 1rem;
								height: 1rem;
								// transform: rotate(-45deg);

								polygon {
									fill: $colorBreadrumbs;
								}
							}

							&:hover {
								border-color: $colorBreadrumbsHover;
								transform: rotate(45deg);

								svg {
									transform: rotate(-45deg);

									polygon {
										fill: $colorBreadrumbsHover;
									}
								}
							}
						}

						&__down {
							width: 2rem;
							height: 2rem;
							display: flex;
							align-items: center;
							justify-content: center;
							// position: absolute;
							top: 0;
							left: 0;
							z-index: 2;
							background-color: $primary;
							outline: none;
							border: 0.15rem solid $colorBreadrumbs;
							padding: 0;
							transition: all 0.3s;
							cursor: pointer;
							border-radius: 0;
							// transform: rotate(45deg);
							// transform-origin: 50% 50%;

							svg {
								width: 1rem;
								height: 1rem;
								// transform: rotate(-45deg);

								rect {
									fill: $colorBreadrumbs;
								}
							}

							&:hover {
								border-color: $colorBreadrumbsHover;
								transform: rotate(-45deg);

								svg {
									transform: rotate(45deg);

									rect {
										fill: $colorBreadrumbsHover;
									}
								}
							}
						}
					}

					.product-price {
						width: 70%;
						height: 100%;
						display: flex;
						flex-direction: row-reverse;
						align-items: center;
						justify-content: flex-start;
						font-size: $font-size-large;

						.old_price {
							font-size: $font-size-base;
						}
					}
				}

				&__bottom {
					width: 100%;
					min-height: calc(80% - 1rem);
					// display: flex;
					// flex-direction: column;
					// justify-content: center;
					padding: 1rem 0 0;
					// overflow: auto;
				}
			}

			&-form {
				width: 100%;
				display: flex;
				// flex-direction: row;

				&__label {
					width: calc(30% - 1rem);
					min-height: 1rem;
					display: flex;
					justify-content: flex-start;
					padding-right: 1rem;
					// align-items: center;
					font-size: $font-size-small;
					// color: $colorBreadrumbs;
				}

				&__control {
					width: calc(70% - 1rem);
					min-height: 1rem;
					display: flex;
					justify-content: flex-start;
					padding-left: 1rem;
					align-items: center;
					text-align: left;
					margin-bottom: 0.5rem;
					font-size: $font-size-small;
					// color: $colorBreadrumbs;

					select {
						outline: none;
					}

					a {
						color: $colorBreadrumbs;

						&:hover {
							color: $colorBreadrumbsHover;
						}
					}
				}

				&__input {
					width: 15%;
					height: 2rem;
					display: flex;
					justify-content: flex-end;
					// padding-left: 1rem;
					align-items: center;
					position: relative;
					margin-right: 1rem;
					margin-left: 1rem;

					input {
						width: 100%;
						// margin-right: 1rem;
						color: $colorTextOnBlack;
						background-color: transparent;
						border: none;
						outline: none;
						text-align: center;
					}

					// .product-count {


					// }
				}

				&__unit {
					width: 20%;
					height: 2rem;
					display: flex;
					align-items: center;
				}
			}
		}
	}

	&__text {
		width: 100%;
		margin: $paddingMobile 0;
	}

	&__form-group {
		display: flex;
		flex-direction: row;

		label {
			margin-right: 0.5rem;
		}
	}

	&__submit {
		width: $headerRightWidth;
		height: $sidebarCartButtonWidth;
		// display: flex;
		// flex-direction: row;
		position: relative;
		right: 0;
		margin-top: $marginVert;
		// padding-left: $sidebarPadding;
		border-top: $border_normal solid $secondary;
		border-bottom: $border_normal solid $secondary;
		z-index: 100;

		&-cart {
			width: 50%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			// border-radius: 50%;
			outline: none;
			border: none;
			padding: 0;
			position: relative;
			background-color: $primary;
			cursor: pointer;
			border-top-left-radius: $marginVert / 5;
			border-bottom-left-radius: $marginVert / 5;
			border-top-right-radius: $marginVert / 5;
			border-bottom-right-radius: $marginVert / 5;
			transition: all 0.3s;
			// left: -$sidebarPadding;
			// transform: translate(-50%, -50%);

			&:before {
				content: "+";
				width: $marginVert / 1;
				height: $marginVert / 1;
				display: block;
				font-size: 3rem;
				line-height: 0.5;
				color: $third;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				// opacity: 0;
				// transition: transform 0.3s;
			}

			svg {
				width: $headerHeight / 1.5;
				height: $headerHeight / 1.5;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);

				path {
					fill: none;
					stroke: $fourth;
					stroke-width: $border_normal;
					fill-rule: evenodd;
				}
			}

			&:hover {
				background-color: $navBackground;

				&:before {
					color: $fourth;
				}

				svg#productCartFull {

					#productCart {
						fill: $secondary;
					}

					#productCartAdd {
						fill: $secondary;
						transform: translateY(0);
					}
				}
			}
		}
	}

	&__price {
		width: $headerRightWidth;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
		margin-bottom: $marginVert;

		.price {
			width: 50%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			color: $secondary;
			font-size: $font-size-large + 0.2;
			font-family: $heading-font;
		}

		.old_price {
			width: 50%;
			height: 100%;
			display: flex;
			align-items: center;
			color: $primary;
		}
	}

	&__count {
		width: calc(50% - #{$marginVert});
		height: 100%;
		display: flex;
		flex-direction: row;
		position: relative;
		// margin-bottom: $marginVert;
		margin-right: $marginVert;

		&-block {
			width: $headerRightWidth;
			height: $sidebarCartButtonWidth;
			display: flex;
			flex-direction: row;
		}

		&-input {
			width: 40%;
			height: 100%;
			background-color: $secondary;
			color: $fourth;
			font-size: $font-size-large;
			outline: none;
			border: none;
			text-align: center;
			padding: 0;
		}

		%product-content__count {
			width: 30%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $primary;
			font-size: $font-size-large;
			color: $third;
			outline: none;
			border: none;
			cursor: pointer;
			transition: all 0.3s;

			&:hover {
				color: $fourth;
				background-color: $navBackground;
			}
		}

		&-up {
			@extend %product-content__count;
			border-top-right-radius: $marginVert / 5;
			border-bottom-right-radius: $marginVert / 5;
		}

		&-down {
			@extend %product-content__count;
			border-top-left-radius: $marginVert / 5;
			border-bottom-left-radius: $marginVert / 5;
		}
	}

	// @include grid-media($Medium) {
	// 	min-height: calc(100vh - #{$headerHeightMobile} - #{$headerFooterHeightMobile});

	// 	&__gallery {
	// 		width: calc(50% - (#{$sidebarWidthMobile} / 2));
	// 	}

	// 	&__description {
	// 		width: calc(50% - (#{$sidebarWidthMobile} / 2));
	// 	}

	// 	&__options {
	// 	width: calc(100% - #{$sidebarPaddingMobile});
	// 	padding-left: $sidebarPaddingMobile;
	// 	}

	// 	&__submit {
	// 		width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});
	// 		margin-top: -3.1rem;
	// 		// transform: translateY(-50%);

	// 		&-cart {
	// 			left: -$sidebarPaddingMobile;

	// 			svg {
	// 				width: $headerHeightMobile / 1.5;
	// 				height: $headerHeightMobile / 1.5;
	// 			}
	// 		}
	// 	}
	// }

	// @include grid-media($XSmall) {
	// 	min-height: calc(100vh - #{$headerHeightMobile} - #{$headerFooterHeightMobile});
	// 	flex-direction: column;

	// 	&__gallery {
	// 		width: calc(100% - #{$sidebarWidthMobile});
	// 		height: calc(50vh - #{$headerHeightMobile} - #{$headerFooterHeightMobile});
	// 		display: block;
	// 	}

	// 	&__description {
	// 		width: calc(100% - #{$sidebarWidthMobile});
	// 		height: calc(50vh - #{$headerHeightMobile} - #{$headerFooterHeightMobile});
	// 		min-height: initial;
	// 		display: block;
	// 	}

	// 	&__options {
	// 		width: calc(100% - #{$sidebarPaddingMobile});
	// 		height: initial;
	// 		padding-left: $sidebarPaddingMobile;
	// 	}

	// 	&__submit {
	// 		width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});
	// 		margin-top: -3.1rem;
	// 		// transform: translateY(-50%);

	// 		&-cart {
	// 			left: -$sidebarPaddingMobile;

	// 			svg {
	// 				width: $headerHeightMobile / 1.5;
	// 				height: $headerHeightMobile / 1.5;
	// 			}
	// 		}
	// 	}
	// }

	@include grid-media($Small) {
		min-height: 100vh;
		flex-direction: column;

		&__gallery {
			width: 100%;
			min-height: 50vh;
			padding: 0;
		}

		&__options {
			width: calc(100% - 2rem);
			min-height: 10vh;
			height: auto;
			padding: 1rem;
			margin-bottom: 0;

			.options {

				&-header {
					min-height: 35%;
					height: auto;

					&__title {
						width: 100%;
						padding-right: 0;

						h1 {
							font-size: $font-size-large + 0.2;
						}

						h2 {
							font-size: $font-size-large;
						}
					}
				}

				&-content {
					min-height: 65%;
					height: auto;

					&__top {
						// min-height: 30%;
						height: 20vh;
						flex-direction: column;
						margin: 1rem 0;

						.product-count {
							width: 100%;
							height: 60%;
							justify-content: center;

							input {
								font-size: $font-size-large;
							}
						}

						.product-price {
							width: 100%;
							height: 40%;
							justify-content: center;

							span {
								font-size: $font-size-large;
							}
						}
					}

					&__bottom {
						min-height: 70%;
						height: auto;
						padding: 1rem 0;
					}
				}

				&-form {
					margin-bottom: 0.5rem;
					flex-direction: column;

					&__label {
						width: 100%;
						height: auto;
						min-height: 1rem;
						// justify-content: center;
						padding-right: 0;
						font-size: $font-size-base;
						text-align: left;
						color: $colorBreadrumbs;
					}

					&__control {
						width: 100%;
						margin-bottom: 0;
						// justify-content: center;
						align-items: flex-start;
						padding-left: 0;
						font-size: $font-size-base;
						text-align: left;
					}
				}
			}
		}

		&__description {
			width: 100%;
			height: inherit;
			min-height: 100vh;
			padding: 0 0 2rem;

			.content-description {

				&__map {
					display: none;
					visibility: hidden;
				}

				&__text {
					width: calc(100% - 2rem);
					padding: 0;
				}
			}
		}

		&__text {
			width: calc(100% - (#{$paddingMobile} * 2));
			padding: 0 $paddingMobile;
		}

		// &__submit {
		// 	// transform: translate(-75%, 50%);
		// }
	}
}

.map-overlay {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}

.product {

	&-gallery {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		img {
			position: absolute;
		}

		@include grid-media($Large) {

			&__big {
				display: block;
				visibility: visible;
			}

			&__medium {
				display: none;
				visibility: hidden;
			}

			&__small {
				display: none;
				visibility: hidden;
			}

		}

		@include grid-media($Medium) {

			&__big {
				display: none;
				visibility: hidden;
			}

			&__medium {
				display: block;
				visibility: visible;
			}

			&__small {
				display: none;
				visibility: hidden;
			}

		}

		@include grid-media($Small) {

			&__big {
				display: none;
				visibility: hidden;
			}

			&__medium {
				display: none;
				visibility: hidden;
			}

			&__small {
				display: block;
				visibility: visible;
			}

		}
	}

	&-description {
		width: 100%;
		min-height: 0;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: row;
		// position: relative;
		// padding: 50px 50px 0;
		background-color: $bgColor;

		&__map {
			width: 50%;
			height: calc(100vh - 100px);
			text-align: center;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;

			p {
	            color: lighten($primary, 50%);
	            margin: 0;
	            position: absolute;
	            z-index: 0;
	        }
		}

		&__text {
			width: calc(50% - 10rem);
			min-height: calc(100vh - 100px - 6rem);
			padding: 3rem 5rem;
			display: flex;
			flex-direction: column;
			// align-items: center;
			justify-content: center;
		}

		@include grid-media($Medium) {

			&__map {
				display: none;
				visibility: hidden;
			}

			&__text {
				width: 80%;
				padding: 3rem 10%;
			}
		}

		@include grid-media($Small) {
			flex-direction: column;

			&__map {
				display: none;
				visibility: hidden;
			}

			&__text {
				width: calc(100% - 2rem);
				padding: 2rem 1rem;
			}
		}
	}
}

.option-price {
	width: 100%;
	// padding-left: $sidebarPadding;

	&__form {
		width: calc(100% - (#{$border_normal} * 2));
		// height: calc((#{$headerHeight} / 1.3) - #{$border_normal});
		display: flex;
		flex-direction: column;
		border: $border_normal solid $primary;
		color: $secondary;
		margin: 0;
		background-color: $fourth;
	}

	&__main {
		width: calc(100% - #{$productOptionBorder});
		// height: 100%;
		display: flex;
		flex-direction: column;
		// border-right: $productOptionBorder solid $primary;
	}

	&__options {
		width: calc(100% - 1rem);
		min-height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0.5rem;
		border-bottom: $productOptionBorder solid $primary;
		font-size: $font-size-small;
	}

	&__article {
		width: calc(100% - 1rem);
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0.5rem;
		font-size: $font-size-small;
		border-bottom: $productOptionBorder solid $primary;
	}

	&__footer {
		width: 100%;
		height: $sidebarPadding / 2;
		display: flex;
		flex-direction: row;
	}

	&__price {
		width: calc(50% - 1rem);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 0.5rem;
		// border-right: $productOptionBorder solid $primary;
		background-color: $third;

		.old_price {
			font-size: $font-size-small;
			margin-bottom: 0.3rem;
		}
	}

	&__button {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0.5rem;
		margin: 0;
		background-color: $navBackground;
		color: $fourth;
		border: none;
		outline: none;
		cursor: pointer;

		svg {
			width: auto;
			height: 70%;
			display: block;
			fill: $fourth;

			path#productCartAdd {
				opacity: 0;
				transform: translate(-7%, -10%);
				transition: all 0.3s;
			}
		}

		&:hover {

			svg {

				path#productCartAdd {
					opacity: 1;
					transform: translate(-7%, 0);
				}
			}
		}
	}

	@include grid-media($XXLarge) {

		// &__article,
		// &__options {
		// 	font-size: $font-size-base;
		// }

		&__button {

			svg {
				width: auto;
				height: 60%;
			}
		}
	}

	@include grid-media($XLarge) {

		// &__article,
		// &__options {
		// 	font-size: $font-size-base;
		// }

		&__button {

			svg {
				width: auto;
				height: 60%;
			}
		}
	}

	@include grid-media($Small) {
		width: calc(100% - (#{$paddingMobile} * 2));
		padding: 0 $paddingMobile;

		&__form {
			height: inherit;
			min-height: $headerHeightMobile;
			// flex-direction: column;
			flex-wrap: wrap;
		}

		&__main {
			width: 100%;
			height: inherit;
			min-height: $headerHeightMobile;
			border-bottom: $productOptionBorder solid $primary;
			border-right: none;
		}

		&__options,
		&__article {
			min-height: $headerHeightMobile / 2;
		}

		&__price {
			width: calc(50% - 1rem);
			height: inherit;
			min-height: $headerHeightMobile / 2;
		}

		&__button {
			width: 50%;
			height: inherit;
			min-height: $headerHeightMobile / 2;

			svg {
				width: auto;
				height: 70%;

				path#productCartAdd {
					opacity: 1;
					transform: translate(-7%, 0);
				}
			}

			&:hover {

				svg {

					path#productCartAdd {
						opacity: 1;
						transform: translate(-7%, 0);
					}
				}
			}
		}
	}
}

/*=====  End of Product  ======*/
