/*==============================
=            Search            =
==============================*/
.ui-menu {
	z-index: 9001 !important;
}

.search-block {
	// width: calc(100% - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth}) - #{$headerRightWidth});
	width: $headerRightWidth;
	height: calc((#{$headerHeight} / 2));
	display: block;
	position: fixed;
	background-color: $headerSearchBack;
	top: $headerHeight / 2;
	// left: ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth);
	right: 0;
	padding: 0;
	z-index: 9001;
	transform: translateX(20%);
	opacity: 0;
	visibility: hidden;

	&__form {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;

		&-input {
			width: calc(100% - #{$sidebarPadding} - 2rem);
			height: 100%;
			display: block;
			float: left;
			position: relative;
			border: none;
			outline: none;
			background-color: $headerSearchBack;
			padding: 0 1rem;
			color: $headerSearchColor;
			transition: all 0.3s;

			&:focus {
				background-color: $headerSearchBack;
			}

			&:focus::-webkit-input-placeholder {
				opacity: 0;
				transition: all 0.3s;
			}

			&:focus::-moz-placeholder {
				opacity: 0;
				transition: all 0.3s;
			}

			&:focus::-ms-input-placeholder {
				opacity: 0;
				transition: all 0.3s;
			}

			&::-webkit-input-placeholder {
				/* WebKit browsers */
				color: $headerSearchColor;
			}

			&::-moz-placeholder {
				/* Mozilla Firefox 4 to 18 */
				color: $headerSearchColor;
				opacity: 1;
			}

			&::-moz-placeholder {
				/* Mozilla Firefox 19+ */
				color: $headerSearchColor;
				opacity: 1;
			}

			&::-ms-input-placeholder {
				/* Internet Explorer 10+ */
				color: $headerSearchColor;
			}
		}

		&-button {
			// width: $headerHeight;
			width: $sidebarPadding;
			height: calc((#{$headerHeight} / 2));
			display: block;
			float: left;
			position: relative;
			border: none;
			outline: none;
			background-color: $headerSearchBack;
			padding: 0;
			font-size: $font-size-base;
			color: $primary;
			cursor: pointer;
			transition: all 0.3s;

			i {
				font-size: $font-size-large;
				color: $primary;
				transition: color 0.3s;
			}

			&:hover {
				color: $third;
				// background-color: darken($headerSearchBack, 5%);

				i {
					color: $secondary;
				}
			}
		}
	}

	@include grid-media($Medium) {
		width: calc(100% - #{$sidebarWidthMobile} - (#{$sidebarPaddingMobile} * 2));
		height: calc(#{$headerFooterHeightMobile} - ((#{$sidebarPaddingMobile} / 5) * 2));
		top: $headerHeightMobile;
		right: $sidebarWidthMobile;
		padding: ($sidebarPaddingMobile / 5) $sidebarPaddingMobile;

		&__form {

			&-input {
				width: calc(100% - (#{$headerFooterHeightMobile} - ((#{$sidebarPaddingMobile} / 5) * 2)) - 2rem);
			}

			&-button {
				width: calc(#{$headerFooterHeightMobile} - ((#{$sidebarPaddingMobile} / 5) * 2) - 0.15rem);
				height: calc(#{$headerFooterHeightMobile} - ((#{$sidebarPaddingMobile} / 5) * 2) - 0.15rem);
			}
		}
	}

	@include grid-media($XSmall) {
		width: calc(100% - #{$sidebarWidthMobile} - (#{$sidebarPaddingMobile} * 2));
		height: calc(#{$headerFooterHeightMobile} - ((#{$sidebarPaddingMobile} / 5) * 2));
		top: $headerHeightMobile;
		right: $sidebarWidthMobile;
		padding: ($sidebarPaddingMobile / 5) $sidebarPaddingMobile;

		&__form {

			&-input {
				width: calc(100% - (#{$headerFooterHeightMobile} - ((#{$sidebarPaddingMobile} / 5) * 2)) - 2rem);
			}

			&-button {
				width: calc(#{$headerFooterHeightMobile} - ((#{$sidebarPaddingMobile} / 5) * 2) - 0.15rem);
				height: calc(#{$headerFooterHeightMobile} - ((#{$sidebarPaddingMobile} / 5) * 2) - 0.15rem);
			}
		}
	}

	@include grid-media($Small) {
		width: calc(100% - (#{$sidebarPaddingMobile} / 2.5));
		height: calc((#{$headerHeightMobile} * 0.75) - #{$border_normal} - ((#{$sidebarPaddingMobile} / 5) * 2));
		padding: ($sidebarPaddingMobile / 5);
		top: $headerHeightMobile;
		right: 0;
		z-index: 3;

		&__form {

			&-button {
				width: calc(#{$headerFooterHeightMobile} - ((#{$sidebarPaddingMobile} / 5) * 2) - 0.075rem);
				height: 100%;
			}
		}
	}
}

.form-search {
	width: 100%;
	height: 100%;
	display: block;

	&__input {
		width: calc(100% - ((#{$headerHeight} * 1.4375) - #{$border_normal} - ((#{$sidebarPadding} / 5) * 2)));
		height: 100%;
		display: block;
		float: left;

		input {
			width: calc(100% - ((#{$sidebarPadding} / 2.5) * 2));
			height: 100%;
			border: none;
			background-color: lighten($third, 10%);
			padding: 0 ($sidebarPadding / 2.5);
			color: $primary;
			border: none;
			outline: none;
			transition: all $base-duration;
			font-size: $font-size-base;

			&:focus {
				background-color: lighten($third, 15%);
				color: $primary;
			}

			&:focus::-webkit-input-placeholder {
				opacity: 0;
				transition: opacity 0.3s ease;
			}

			&:focus::-moz-placeholder {
				color: transparent;
				transition: 0.2s;
			}

			&:focus:-ms-input-placeholder {
				color: transparent;
				transition: 0.2s;
			}

			&::placeholder {
				color: $six;
			}

			&::-webkit-input-placeholder { /* WebKit browsers */
				color: $six;
				opacity: 1;
				transition: opacity 0.3s ease;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: $six;
				opacity:  1;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
				color: $six;
				opacity:  1;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10+ */
				color: $six;
			}
		}
	}

	&__button {
		width: calc((#{$headerHeight} * 1.4375) - #{$border_normal} - ((#{$sidebarPadding} / 5) * 2));
		height: 100%;
		display: block;
		float: left;
		position: relative;
		background-color: $primary;
		border: none;
		padding: 0;
		cursor: pointer;

		svg {
			width: $headerHeight / 2;
			height: $headerHeight / 2;
			display: block;
			fill: $fourth;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}

.search-form {
	width: calc(50% - 14rem);
	height: calc(100vh - 6rem);
	position: fixed;
	right: 0;
	top: 0;
	padding: 3rem 8rem 3rem 6rem;
	background-color: $primary;
	z-index: 9500;
	display: flex;
	align-items: center;
	transform: translateY(100%);
	// transform-origin: 0 100%;

	&--hidden {
		display: none;
		visibility: hidden;
		transform: translateX(100%);
	}

	&--visible {
		display: flex;
		align-items: center;
	}
}

/*=====  End of Search  ======*/
