/*===============================
=            Sidebar            =
===============================*/

.sidebar {
	width: calc((#{$headerCartOuterWidth} + #{$sidebarPadding}) - (#{$sidebarPadding} / 2));
	height: calc(100vh - #{$headerHeight} - ((#{$headerHeight} / 2) + (#{$headerHeight} / 4)) - (#{$sidebarPadding} / 4));
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: fixed;
	padding: (($headerHeight / 2) + ($headerHeight / 4)) ($sidebarPadding / 4) ($sidebarPadding / 4);
	background-color: $third;
	top: $headerHeight;
	right: 0;
	z-index: 8999;

	&-cart {
		z-index: 1;

		&__content {
			width: 100%;
			min-height: 2rem;
			display: block;
			// visibility: hidden;
			overflow: hidden;
			position: relative;
			margin-top: $sidebarCartButtonWidth + ($headerHeight / 4);
		}

		&__link {
			width: 100%;
			display: block;
			padding: 0.5rem 0;
			margin: 1rem 0 0.5rem;
			background-color: $primary;
			color: $fourth;
			text-align: center;
			font-size: $font-size-small;
		}
	}

	&__filters {
		// width: calc(100% - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth}) - #{$headerRightWidth});
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		// padding-left: ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth);
		// padding-top: 1.5rem;
	}

	&__part {
		width: 100%;
		height: 2rem;
		display: flex;
		align-items: center;
		padding-bottom: 1rem;
		margin-bottom: 1rem;

		// &:first-child {
		// 	width: calc((100% / 4) - 2rem);
		// 	padding-left: 1rem;
		// }

		fieldset {
			width: 100%;
		}
	}

	&__form {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		// margin-bottom: 1rem;

		fieldset {
			width: 100%;
			// height: 2rem;
			display: flex;
			flex-direction: column;
			// align-items: center;
			margin-bottom: 1rem;
			padding: 0 0 0.5rem;
			border-bottom: $border_thin solid $primary;
			border-top: 0;
			border-left: 0;
			border-right: 0;

			// &:first-child {

			// }
		}
	}

	&__head {
		border-bottom: $border_thin solid $primary;

		&-part {
			width: calc(100% / 3);
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $heading-font;
			color: $primary;

			a {
				font-family: $heading-font;
				color: $primary;
			}

			span {
				color: $secondary;
			}

			&:first-child {
				justify-content: flex-start;
			}
		}

		&--news {
			display: flex;
			justify-content: space-between;
		}
	}

	&__submit {
		width: $headerRightWidth;
		height: 100%;
	}

	select {
		width: 100%;
		// height: $headerHeight / 4;
		background-color: $third;
		color: $secondary;
		padding: 0.3rem 0;
		border: $border_thin solid $filterBorderColor;
		border-radius: 0;
		margin: 0;
		outline: none;
		font-size: $font-size-small;
	}

	fieldset {
		// width: 100%;
		// height: $headerHeight / 4;
		// border: none;
		// margin: 0.5rem 0;
		color: $secondary;
		font-size: $font-size-small;
		// border-bottom: 0.075rem solid $filterBorderColor;

		.mse2_number_slider {
			height: 0.3rem;
			background-color: $filterBorderColor;
			border: none;
			display: flex;
			align-items: center;
			margin: 2rem 0;
		}

		.mse2_number_inputs {
			// width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 1rem 0;
		}

		.form-group {

			.input-sm {
				width: 70%;
				background-color: $primary;
				color: $colorTextOnBlack;
				// display: flex;
				// align-items: center;
				// justify-content: center;
				padding: 0.3rem 0;
				border: 0.15rem solid $filterBorderColor;
				text-align: center;
			}
		}

		label {
			// margin-bottom: 0.15rem;
			// line-height: 1.85;

			span {
				width: 80%;
			}
		}

		sup {
			// width: 1rem;
			height: 1rem;
			// background-color: $primary;
			color: $secondary;
			display: block;
			font-size: $font-size-small !important;
			text-align: center;
			// padding: 0 0.15rem 0.3rem;
			margin-top: 0.15rem;
			float: right;
		}

		.disabled {
			color: $fourth;
		}

		span {

			svg {
				width: 1rem;
				height: 1rem;

				polyline,
				polygon,
				line {
					fill: none;
					stroke-width: 3;
					stroke: $secondary;
				}
			}
		}
	}

	.minicart-close {
		width: $headerHeight / 2;
		height: $headerHeight / 2;
		display: block;
		opacity: 0;

		svg {
			width: $headerHeight / 2;
			height: auto;
			fill: $third;
			position: absolute;
			top: $headerHeight / 4;
			right: $headerHeight / 4;
			transform: rotate(45deg);
		}
	}

	p {
		font-size: $font-size-small;
	}

	ul {
		font-size: $font-size-small;
		margin-bottom: 1rem;
	}

	&__accordion {
		width: 100%;
		min-height: 2rem;
		// margin: 0 1rem;
		display: block;
		// visibility: hidden;
		overflow: hidden;
		position: relative;
		// padding-bottom: 1rem;

		.panel {
			display: block;
			position: relative;
			overflow: hidden;
			// margin: 0.2rem 0 0;

			&-header {
				display: flex;
				align-items: center;
				line-height: 1.2;
				// padding: 0.5rem 0;
				cursor: pointer;
				// background-color: darken($wrapperBackground, 10%);
				position: relative;

				&__title {
					width: 100%;
					padding: 0.5rem 0;
					display: flex;
					align-items: center;
					border-top: $border_thin solid $primary;
				}

				h4 {
					color: $primary;
					margin: 0;
				}
			}

			&-content {
				position: relative;
				height: 0;
				padding: 0;

				h4 {
					margin-bottom: 0;
				}

				p {
					margin: 0 0 0.5rem;
				}

				ul {
					margin: 0 0 0.5rem;

					// li {
					// 	margin-bottom: 0.5rem;
					// }
				}

				&__link {
					width: 100%;
					display: block;
					padding: 0.5rem 0;
					margin: 1rem 0 0.5rem;
					background-color: $primary;
					color: $fourth;
					text-align: center;
					font-size: $font-size-small;
				}
			}

			span i {
				padding-right: 0;
			}

			&:last-child {
				border-bottom: $border_thin solid $primary;
			}
		}

		.arrow {
			position: absolute;
			right: 1rem;
			font-weight: bold;
			color: $primary;
			margin: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__title {
		width: 100%;
		padding: 0 0 0.5rem;
		display: flex;
		align-items: center;
		border-bottom: $border_thin solid $primary;
	}

	&__back {
		width: ($headerLogoWidthPhone / 2) + $paddingMobile;
		height: 100vh;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba($secondary, 0.6);
		z-index: 9004;
		opacity: 0;
		visibility: hidden;

		span {
			width: 30vh;
			height: ($headerLogoWidthPhone / 2) + $paddingMobile;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			left: 50%;
			color: $third;
			transform: translate(-50%, -50%) rotate(-90deg);
			transform-origin: 50% 50%;
		}
	}

	&__conteiner {
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	@include grid-media($Medium) {
		width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});
		height: calc(100vh - #{$headerFooterHeightMobile} - #{$headerHeightMobile});
		padding-left: $sidebarPaddingMobile;
		padding-top: calc(#{$headerFooterHeightMobile} + #{$headerHeightMobile});

		&__content {
			height: calc(100vh - #{$headerFooterHeightMobile} - #{$headerHeightMobile});
			padding-right: $sidebarPaddingMobile;

			&-logos {
				width: 100%;
				height: calc(50vh - #{$headerFooterHeightMobile} - #{$headerHeightMobile});
			}

			&-newsblock {
				width: 100%;
				height: calc(50vh - #{$headerFooterHeightMobile} - #{$headerHeightMobile});
			}
		}
	}

	@include grid-media($XSmall) {
		width: calc(#{$sidebarWidthMobile} - #{$sidebarPaddingMobile});
		height: calc(100vh - #{$headerFooterHeightMobile} - #{$headerHeightMobile});
		padding-left: $sidebarPaddingMobile;
		padding-top: calc(#{$headerFooterHeightMobile} + #{$headerHeightMobile});

		&__content {
			height: calc(100vh - #{$headerFooterHeightMobile} - #{$headerHeightMobile});
			padding-right: $sidebarPaddingMobile;

			&-logos {
				width: 100%;
				height: calc(50vh - #{$headerFooterHeightMobile} - #{$headerHeightMobile});
			}

			&-newsblock {
				width: 100%;
				height: calc(50vh - #{$headerFooterHeightMobile} - #{$headerHeightMobile});
			}
		}
	}

	@include grid-media($Small) {
		width: calc(100% - (#{$headerLogoWidthPhone} / 2) - (#{$paddingMobile} * 3));
		height: calc(100vh - (#{$headerHeightMobile} / 1.5) - (#{$paddingMobile} * 2));
		padding-left: $paddingMobile * 2;
		top: 0;
		position: fixed;
		padding: $paddingMobile;
		overflow: auto;
		transform: translateX(100%);
		z-index: 9100;

		.sidebar__accordion {
			overflow: auto;
		}

		// &-product {
		// 	height: calc(100vh - #{$headerHeightMobile} - (#{$paddingMobile} * 4));
		// 	top: $headerHeightMobile;
		// 	padding-bottom: $paddingMobile * 3;
		// 	overflow: auto;
		// }
	}
}

.subheader {
	width: calc(100% - (#{$headerCartOuterWidth} + #{$sidebarPadding}) - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth}) - #{$navLinkPadding});
	height: $headerHeight / 2;
	display: flex;
	align-items: center;
	background-color: rgba($bgColor, 0.9);
	position: fixed;
	top: $headerHeight;
	left: 0;
	padding: 0 0 0 ((($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth + $navLinkPadding);
	// box-shadow: 0 1rem 2rem $bgColor;
	z-index: 8999;

	&__title {
		width: $headerRightWidth;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0;

		h1 {
			font-size: $font-size-large + 0.2;
		}
	}

	&--info {
		width: calc(100% - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth}) - #{$navLinkPadding});
	}

	&__breadcrumbs {
		font-family: $heading-font;
		font-size: $font-size-base;

		ul {
			display: flex;
			flex-direction: row;

			li {
				margin: 0 0.2rem;
				color: $secondary;

				a {
					color: $primary;
				}

				span.breadcrumbs-active {
					color: $secondary;
				}
			}
		}

		&--product {
			width: calc(100% - (((#{$sidebarPadding} - (#{$headerLogoWidth} / 2)) * 2) + #{$headerLogoWidth}) - #{$headerRightWidth} - 1rem);
			height: 100%;
			display: flex;
			align-items: center;
			padding-left: (($sidebarPadding - ($headerLogoWidth / 2)) * 2) + $headerLogoWidth + 1rem;
			font-family: $heading-font;
			font-size: $font-size-base;

			ul {
				display: flex;
				flex-direction: row;

				li {
					margin: 0 0.2rem;
					color: $secondary;

					a {
						color: $primary;
					}

					span.breadcrumbs-active {
						color: $secondary;
					}
				}
			}
		}
	}

	@include grid-media($Small) {
		width: calc(100% - (#{$paddingMobile} * 2));
		height: inherit;
		min-height: $headerHeightMobile / 2;
		top: $headerHeightMobile;
		padding: 0 $paddingMobile;

		&__breadcrumbs {
			font-size: $font-size-small;

			// ul {
			// 	flex-direction: column;
			// }
		}
	}
}
/*=====  End of Sidebar  ======*/

/*===================================
=            Contact Form            =
===================================*/

.ajax_form {
	width: 100%;
	margin: 0;
	//margin: 30px 20% 150px 20%;
	float: left;

	&__input {

		.f-icon {
			width: $inputHeight + 0.65;
			height: $inputHeight + 0.3;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			background-color: $secondary;
			// margin-top: 0.15rem;
			border-top-left-radius: $inputHeight / 2;
			border-bottom-left-radius: $inputHeight / 2;
			z-index: -1;

			&:before {
				font-family: 'fontawesome';
				font-size: $font-size-small;
				font-weight: normal;
				color: $fourth;
				position: relative;
			}

			&--person {

				&:before {
					content: "\f007";
				}
			}

			&--phone {

				&:before {
					content: "\f095";
				}
			}

			&--mail {

				&:before {
					content: "\f003";
				}
			}
		}
	}

	%input {
		outline: none;
		margin-bottom: 1rem;
		font-family: $primary-font;
		font-size: $font-size-base;
		border: $border_thin solid $primary;
		// border-top-left-radius: $inputHeight / 2;
		// border-bottom-left-radius: $inputHeight / 2;
		// border-top-right-radius: $inputHeight / 2;
		// border-bottom-right-radius: $inputHeight / 2;
		background-color: transparent;
		color: $primary;
		transition: all 0.3s;

		&:focus {
			background-color: $fourth;
			border-color: $secondary;
		}

		&:focus::-webkit-input-placeholder {
			opacity: 0;
			transition: all 0.3s;
		}

		&:focus::-moz-placeholder {
			opacity: 0;
			transition: all 0.3s;
		}

		&:focus::-ms-input-placeholder {
			opacity: 0;
			transition: all 0.3s;
		}

		&::-webkit-input-placeholder {
			/* WebKit browsers */
			color: $primary;
		}

		&::-moz-placeholder {
			/* Mozilla Firefox 4 to 18 */
			color: $primary;
			opacity: 1;
		}

		&::-moz-placeholder {
			/* Mozilla Firefox 19+ */
			color: $primary;
			opacity: 1;
		}

		&::-ms-input-placeholder {
			/* Internet Explorer 10+ */
			color: $primary;
		}

		@include grid-media($XSmall) {
			text-align: center;
		}
	}

	input[type='text'],
	input[type='email'],
	input[type='number'] {
		width: calc(100% - (#{$paddingMobile} * 2));
		height: $inputHeight;
		padding: 0 $paddingMobile;
		@extend %input;
	}

	.input-file {
		line-height: 1;

		input {
			width: 100%;
			font-size: $font-size-small;
		}

		label {


			span {
				font-size: $font-size-small;
			}
		}
	}

	select {
		width: calc(100% + 0.3rem);
		height: calc(#{$inputHeight} - 0.3rem);
		padding: 0;
		@extend %input;
	}

	textarea {
		width: calc(100% - 2rem);
		height: $inputHeight * 2;
		padding: 0.5rem 1rem;
		@extend %input;
	}

	&__button {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.submit-form {
			width: 100%;
			height: $inputHeight + 1;
			display: flex;
			align-items: center;
			justify-content: center;
			background: transparent;
			// padding: 0.7rem 1.4rem 0.7rem 0;
			// border: 0.15rem solid $third;
			text-align: center;
			color: $fourth;
			font-size: $font-size-base;
			line-height: $font-size-base;
			text-transform: uppercase;
			text-decoration: none;
			// border-top-left-radius: $inputHeight / 2;
			// border-bottom-left-radius: $inputHeight / 2;
			// border-top-right-radius: $inputHeight / 2;
			// border-bottom-right-radius: $inputHeight / 2;
			outline: none;
			border: none;
			transition: all 0.3s;
			cursor: pointer;

			// &:before {
			// 	font-family: 'fontawesome';
			// 	color: $primary;
			// 	font-size: $font-size-base;
			// 	line-height: $font-size-base;
			// 	margin-right: 7px;
			// 	opacity: 0;
			// 	transition: all 0.3s;
			// 	transform: scale(0);
			// }

			&:hover {
				// background-color: lighten($primary, 20%);
				// color: $fourth;
				//height: 46px;
				// padding: 0.7rem 0.7rem;
				//-webkit-transform: translateY(-3px);
				//transform: translateY(-3px);

				// &:before {
				// 	opacity: 1;
				// 	transform: scale(1);
				// }

				&.reset {
					background-color: lighten($primary, 20%);
				}

				&.submit {
					background-color: lighten($secondary, 10%);
				}
			}

			&--hidden {
				opacity: 0.5;

				&:hover {
					background: $primary;
				}
			}

			&.reset {
				background-color: $primary;

				// &:before {
				// 	content: "\f12d";
				// }
			}

			&.submit {
				background-color: $secondary;

				// &:before {
				// 	content: "\f1d8";
				// }
			}
		}
	}

	.checkbox {
		display: inline-block;
		position: relative;
		// top: 1px;
		width: 20px;
		height: 20px;
		border: 0.15rem solid $primary;
		background-color: #fff;
		transition: background 150ms ease;
		cursor: pointer;
		margin-top: -0.3rem;

		// &:hover {
		// 	// background: rgba(33, 16, 118, .5);
		// }

		&:after {
			content: "";
			position: absolute;
			top: 1px;
			left: 5px;
			width: 6px;
			height: 12px;
			opacity: 0;
			transform: rotate(45deg) scale(0);
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
			transition: all 325ms ease;
		}
	}

	input[type=checkbox] {
		// display: none;
		position: relative;
		top: 1px;
		width: 20px;
		height: 20px;
		border: 2px solid $primary;
		transition: background 150ms ease;
		cursor: pointer;
		box-sizing: border-box;
		padding: 0;

		&:checked {
			&~.checkbox {
				border-color: transparent;
				background: $primary;
				animation: wiggle 400ms ease;

				&:after {
					opacity: 1;
					transform: rotate(45deg) scale(1);
				}
			}

			&~.checklist-item__title {
				text-decoration: line-through;
				transition: all 175ms ease;
				opacity: .5;
			}
		}
	}

	@keyframes wiggle {
		from {
			transform: scale(1, 1);
		}

		30% {
			transform: scale(1.25, .75);
		}

		40% {
			transform: scale(.75, 1.25);
		}

		50% {
			transform: scale(1.15, .85);
		}

		65% {
			transform: scale(.95, 1.05);
		}

		75% {
			transform: scale(1.05, .95);
		}

		to {
			transform: scale(1, 1);
		}
	}

	&__agreement {
		width: 100%;
		min-height: 1rem;
		display: flex;
		// justify-content: center;
		align-items: center;
		font-size: $font-size-small;
		margin-top: 1rem;

		p {
			margin-left: 1rem;
			margin-top: 0.4rem;

			// a {
			// 	// font-family: $bold;
			// }
		}
	}

	@include grid-media($XSmall) {

		input[type='text'],
		input[type='email'],
		input[type='number'] {
			width: calc(100% - 2rem);
			padding: 0 1rem;
		}

		&__button {

			.submit-form {
				width: 45%;
			}
		}
	}

	@include grid-media($Small) {
		margin: $headerHeightMobile 0 ($headerHeightMobile * 2);

		&__button {

			.submit-form {
				width: 100%;
			}
		}
	}
}

.g-recaptcha {
	transform: scale(0.87);
	transform-origin: 0px 0px 0px;
}

/*=====  End of Conact Form  ======*/